In [90]:
import pandas as pd
import numpy as np

In [141]:
# Loading the dataset
url = "../data/Start_up_data.csv"
data = pd.read_csv(url, encoding='latin1')
pd.set_option("display.max_columns", None)
data

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,1750000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,0,4000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,40000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,1500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,Fort Worth,2,1/1/14,2014-01,2014-Q1,2014.0,8/17/14,9/26/14,0,0,60000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,"3,20,000",operating,GBR,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,320000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49434,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,"15,87,301",operating,CHN,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0
49435,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,"97,398",operating,HRV,NaN,Split,Split,5,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,9/10/14,71525,0,0,0,25873,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49436,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,"93,00,000",operating,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,9300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49437,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,"4,50,00,000",operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permalink             49438 non-null  object
 1   name                  49437 non-null  object
 2   homepage_url          45989 non-null  object
 3   category_list         45477 non-null  object
 4    market               45470 non-null  object
 5    funding_total_usd    49438 non-null  object
 6   status                48124 non-null  object
 7   country_code          44165 non-null  object
 8   state_code            30161 non-null  object
 9   region                44165 non-null  object
 10  city                  43322 non-null  object
 11  funding_rounds        49438 non-null  int64
 12  founded_at            38554 non-null  object
 13  founded_month         38482 non-null  object
 14  founded_quarter       38482 non-null  object
 15  founded_year          38482 non-null  float64
 16  first_funding_at      49438 non-null  object
 17  last_funding_at       49438 non-null  object
 18  seed                  49438 non-null  int64
 19  venture               49438 non-null  int64
 20  equity_crowdfunding   49438 non-null  int64
 21  undisclosed           49438 non-null  int64
 22  convertible_note      49438 non-null  int64
 23  debt_financing        49438 non-null  int64
 24  angel                 49438 non-null  int64
 25  grant                 49438 non-null  int64
 26  private_equity        49438 non-null  int64
 27  post_ipo_equity       49438 non-null  int64
 28  post_ipo_debt         49438 non-null  int64
 29  secondary_market      49438 non-null  int64
 30  product_crowdfunding  49438 non-null  int64
 31  round_A               49438 non-null  int64
 32  round_B               49438 non-null  int64
 33  round_C               49438 non-null  int64
 34  round_D               49438 non-null  int64
 35  round_E               49438 non-null  int64
 36  round_F               49438 non-null  int64
 37  round_G               49438 non-null  int64
 38  round_H               49438 non-null  int64
dtypes: float64(1), int64(22), object(16)
memory usage: 14.7+ MB

In [93]:
type(data)

pandas.core.frame.DataFrame

In [94]:
data.shape

(49438, 39)

In [95]:
data.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [96]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.strip()
data.columns = data.columns.str.replace('[^a-zA-Z0-9_]', '', regex=True)
data = data.dropna(subset=['name'])
data['funding_total_usd'] = data['funding_total_usd'].str.replace(',', '')
#data['homepage_url'] = data['homepage_url'].fillna('Website not Provided')
data_set_clean = data

In [97]:
columns_to_remove = [
    'permalink', 'state_code', 'region', 'city', 'founded_month',
    'founded_quarter', 'founded_year', 'seed', 'venture', 'equity_crowdfunding',
    'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
    'private_equity', 'post_ipo_equity', 'post_ipo_debt', 'secondary_market',
    'product_crowdfunding', 'round_A', 'round_B', 'round_C', 'round_D', 'round_E',
    'round_F', 'round_G', 'round_H'
]
data.loc[data['country_code'] != 'USA', 'country_code'] = 'Other'
data = data.drop(columns=columns_to_remove, axis=1)

In [98]:
type(data)

pandas.core.frame.DataFrame

In [99]:
data.columns

Index(['name', 'homepage_url', 'category_list', 'market', 'funding_total_usd',
       'status', 'country_code', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at'],
      dtype='object')

In [100]:
data['market'].nunique()

753

In [101]:
data = data.iloc[:49438]

In [102]:
data.columns

Index(['name', 'homepage_url', 'category_list', 'market', 'funding_total_usd',
       'status', 'country_code', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at'],
      dtype='object')

In [103]:
#data['last_funding_at']-data['founded_at']  #total time in the market , used for operating status
#data['last_funding_at']-data['first_funding_at'] #duration of funds
#data['funding_rounds'] #no of rounds
#data['funding_total_usd'] #total funds

In [104]:
#X after India and Yan's changes
#y after Amruth's target encoding

In [105]:
admin_services = str('Employer Benefits Programs, Human Resource Automation, Corporate IT, Distribution, Service Providers, Archiving Service, Call Center, Collection Agency, College Recruiting, Courier Service, Debt Collections, Delivery, Document Preparation, Employee Benefits, Extermination Service, Facilities Support Services, Housekeeping Service, Human Resources, Knowledge Management, Office Administration, Packaging Services, Physical Security, Project Management, Staffing Agency, Trade Shows, Virtual Workforce').split(', ')
advertising = str('Creative Industries, Promotional, Advertising Ad Exchange, Ad Network, Ad Retargeting, Ad Server, Ad Targeting, Advertising, Advertising Platforms, Affiliate Marketing, Local Advertising, Mobile Advertising, Outdoor Advertising, SEM, Social Media Advertising, Video Advertising').split(', ')
agriculture = str('Agriculture, AgTech, Animal Feed, Aquaculture, Equestrian, Farming, Forestry, Horticulture, Hydroponics, Livestock').split(', ')
app = str('Application Performance Monitoring, App Stores, Application Platforms, Enterprise Application, App Discovery, Apps, Consumer Applications, Enterprise Applications, Mobile Apps, Reading Apps, Web Apps').split(', ')
artificial_intelli = str('Artificial Intelligence, Intelligent Systems, Machine Learning, Natural Language Processing, Predictive Analytics').split(', ')
biotechnology = str('Synthetic Biology, Bio-Pharm, Bioinformatics, Biometrics, Biopharma, Biotechnology, Genetics, Life Science, Neuroscience, Quantified Self').split(', ')
clothing = str('Fashion, Laundry and Dry-cleaning, Lingerie, Shoes').split(', ')
shopping = str('Consumer Behavior, Customer Support Tools, Discounts, Reviews and Recommendations, Auctions, Classifieds, Collectibles, Consumer Reviews, Coupons, E-Commerce, E-Commerce Platforms, Flash Sale, Gift, Gift Card, Gift Exchange, Gift Registry, Group Buying, Local Shopping, Made to Order, Marketplace, Online Auctions, Personalization, Point of Sale, Price Comparison, Rental, Retail, Retail Technology, Shopping, Shopping Mall, Social Shopping, Sporting Goods, Vending and Concessions, Virtual Goods, Wholesale').split(', ')
community = str("Self Development, Sex, Forums, Match-Making, Babies, Identity, Women, Kids, Entrepreneur, Networking, Adult, Baby, Cannabis, Children, Communities, Dating, Elderly, Family, Funerals, Humanitarian, Leisure, LGBT, Lifestyle, Men's, Online Forums, Parenting, Pet, Private Social Networking, Professional Networking, Q&A, Religion, Retirement, Sex Industry, Sex Tech, Social, Social Entrepreneurship, Teenagers, Virtual World, Wedding, Women's, Young Adults").split(', ')
electronics  = str('Mac, iPod Touch, Tablets, iPad, iPhone, Computer, Consumer Electronics, Drones, Electronics, Google Glass, Mobile Devices, Nintendo, Playstation, Roku, Smart Home, Wearables, Windows Phone, Xbox').split(', ')
consumer_goods= str('Commodities, Sunglasses, Groceries, Batteries, Cars, Beauty, Comics, Consumer Goods, Cosmetics, DIY, Drones, Eyewear, Fast-Moving Consumer Goods, Flowers, Furniture, Green Consumer Goods, Handmade, Jewelry, Lingerie, Shoes, Tobacco, Toys').split(', ')
content = str('E-Books, MicroBlogging, Opinions, Blogging Platforms, Content Delivery Network, Content Discovery, Content Syndication, Creative Agency, DRM, EBooks, Journalism, News, Photo Editing, Photo Sharing, Photography, Printing, Publishing, Social Bookmarking, Video Editing, Video Streaming').split(', ')
datagroup = str('Optimization, A/B Testing, Analytics, Application Performance Management, Artificial Intelligence, Big Data, Bioinformatics, Biometrics, Business Intelligence, Consumer Research, Data Integration, Data Mining, Data Visualization, Database, Facial Recognition, Geospatial, Image Recognition, Intelligent Systems, Location Based Services, Machine Learning, Market Research, Natural Language Processing, Predictive Analytics, Product Research, Quantified Self, Speech Recognition, Test and Measurement, Text Analytics, Usability Testing').split(', ')
design = str('Visualization, Graphics, Design, Designers, CAD, Consumer Research, Data Visualization, Fashion, Graphic Design, Human Computer Interaction, Industrial Design, Interior Design, Market Research, Mechanical Design, Product Design, Product Research, Usability Testing, UX Design, Web Design').split(', ')
education = str('Universities, College Campuses, University Students, High Schools, All Students, Colleges, Alumni, Charter Schools, College Recruiting, Continuing Education, Corporate Training, E-Learning, EdTech, Education, Edutainment, Higher Education, Language Learning, MOOC, Music Education, Personal Development, Primary Education, Secondary Education, Skill Assessment, STEM Education, Textbook, Training, Tutoring, Vocational Education').split(', ')
energy = str('Gas, Natural Gas Uses, Oil, Oil & Gas, Battery, Biofuel, Biomass Energy, Clean Energy, Electrical Distribution, Energy, Energy Efficiency, Energy Management, Energy Storage, Fossil Fuels, Fuel, Fuel Cell, Oil and Gas, Power Grid, Renewable Energy, Solar, Wind Energy').split(', ')
events = str('Concerts, Event Management, Event Promotion, Events, Nightclubs, Nightlife, Reservations, Ticketing, Wedding').split(', ')
financial = str('Debt Collecting, P2P Money Transfer, Investment Management, Trading, Accounting, Angel Investment, Asset Management, Auto Insurance, Banking, Bitcoin, Commercial Insurance, Commercial Lending, Consumer Lending, Credit, Credit Bureau, Credit Cards, Crowdfunding, Cryptocurrency, Debit Cards, Debt Collections, Finance, Financial Exchanges, Financial Services, FinTech, Fraud Detection, Funding Platform, Gift Card, Health Insurance, Hedge Funds, Impact Investing, Incubators, Insurance, InsurTech, Leasing, Lending, Life Insurance, Micro Lending, Mobile Payments, Payments, Personal Finance, Prediction Markets, Property Insurance, Real Estate Investment, Stock Exchanges, Trading Platform, Transaction Processing, Venture Capital, Virtual Currency, Wealth Management').split(', ')
food = str('Specialty Foods, Bakery, Brewing, Cannabis, Catering, Coffee, Confectionery, Cooking, Craft Beer, Dietary Supplements, Distillery, Farmers Market, Food and Beverage, Food Delivery, Food Processing, Food Trucks, Fruit, Grocery, Nutrition, Organic Food, Recipes, Restaurants, Seafood, Snack Food, Tea, Tobacco, Wine And Spirits, Winery').split(', ')
gaming = str('Game, Games, Casual Games, Console Games, Contests, Fantasy Sports, Gambling, Gamification, Gaming, MMO Games, Online Games, PC Games, Serious Games, Video Games').split(', ')
government = str('Polling, Governance, CivicTech, Government, GovTech, Law Enforcement, Military, National Security, Politics, Public Safety, Social Assistance').split(', ')
hardware= str('Cable, 3D, 3D Technology, Application Specific Integrated Circuit (ASIC), Augmented Reality, Cloud Infrastructure, Communication Hardware, Communications Infrastructure, Computer, Computer Vision, Consumer Electronics, Data Center, Data Center Automation, Data Storage, Drone Management, Drones, DSP, Electronic Design Automation (EDA), Electronics, Embedded Systems, Field-Programmable Gate Array (FPGA), Flash Storage, Google Glass, GPS, GPU, Hardware, Industrial Design, Laser, Lighting, Mechanical Design, Mobile Devices, Network Hardware, NFC, Nintendo, Optical Communication, Playstation, Private Cloud, Retail Technology, RFID, RISC, Robotics, Roku, Satellite Communication, Semiconductor, Sensor, Sex Tech, Telecommunications, Video Conferencing, Virtual Reality, Virtualization, Wearables, Windows Phone, Wireless, Xbox').split(', ')
health_care = str('Senior Health, Physicians, Electronic Health Records, Doctors, Healthcare Services, Diagnostics, Alternative Medicine, Assisted Living, Assistive Technology, Biopharma, Cannabis, Child Care, Clinical Trials, Cosmetic Surgery, Dental, Diabetes, Dietary Supplements, Elder Care, Electronic Health Record (EHR), Emergency Medicine, Employee Benefits, Fertility, First Aid, Funerals, Genetics, Health Care, Health Diagnostics, Home Health Care, Hospital, Medical, Medical Device, mHealth, Nursing and Residential Care, Nutraceutical, Nutrition, Outpatient Care, Personal Health, Pharmaceutical, Psychology, Rehabilitation, Therapeutics, Veterinary, Wellness').split(', ')
it = str('Distributors, Algorithms, ICT, M2M, Technology, Business Information Systems, CivicTech, Cloud Data Services, Cloud Management, Cloud Security, CMS, Contact Management, CRM, Cyber Security, Data Center, Data Center Automation, Data Integration, Data Mining, Data Visualization, Document Management, E-Signature, Email, GovTech, Identity Management, Information and Communications Technology (ICT), Information Services, Information Technology, Intrusion Detection, IT Infrastructure, IT Management, Management Information Systems, Messaging, Military, Network Security, Penetration Testing, Private Cloud, Reputation, Sales Automation, Scheduling, Social CRM, Spam Filtering, Technical Support, Unified Communications, Video Chat, Video Conferencing, Virtualization, VoIP').split(', ')
internet = str('Online Identity, Cyber, Portals, Web Presence Management, Domains, Tracking, Web Tools, Curated Web, Search, Cloud Computing, Cloud Data Services, Cloud Infrastructure, Cloud Management, Cloud Storage, Darknet, Domain Registrar, E-Commerce Platforms, Ediscovery, Email, Internet, Internet of Things, ISP, Location Based Services, Messaging, Music Streaming, Online Forums, Online Portals, Private Cloud, Product Search, Search Engine, SEM, Semantic Search, Semantic Web, SEO, SMS, Social Media, Social Media Management, Social Network, Unified Communications, Vertical Search, Video Chat, Video Conferencing, Visual Search, VoIP, Web Browsers, Web Hosting').split(', ')
invest = str('Angel Investment, Banking, Commercial Lending, Consumer Lending, Credit, Credit Cards, Financial Exchanges, Funding Platform, Hedge Funds, Impact Investing, Incubators, Micro Lending, Stock Exchanges, Trading Platform, Venture Capital').split(', ')
manufacturing = str('Innovation Engineering, Civil Engineers, Heavy Industry, Engineering Firms, Systems, 3D Printing, Advanced Materials, Foundries, Industrial, Industrial Automation, Industrial Engineering, Industrial Manufacturing, Machinery Manufacturing, Manufacturing, Paper Manufacturing, Plastics and Rubber Manufacturing, Textiles, Wood Processing').split(', ')
media = str('Writers, Creative, Television, Entertainment, Media, Advice, Animation, Art, Audio, Audiobooks, Blogging Platforms, Broadcasting, Celebrity, Concerts, Content, Content Creators, Content Discovery, Content Syndication, Creative Agency, Digital Entertainment, Digital Media, DRM, EBooks, Edutainment, Event Management, Event Promotion, Events, Film, Film Distribution, Film Production, Guides, In-Flight Entertainment, Independent Music, Internet Radio, Journalism, Media and Entertainment, Motion Capture, Music, Music Education, Music Label, Music Streaming, Music Venues, Musical Instruments, News, Nightclubs, Nightlife, Performing Arts, Photo Editing, Photo Sharing, Photography, Podcast, Printing, Publishing, Reservations, Social Media, Social News, Theatre, Ticketing, TV, TV Production, Video, Video Editing, Video on Demand, Video Streaming, Virtual World').split(', ')
message = str('Unifed Communications, Chat, Email, Meeting Software, Messaging, SMS, Unified Communications, Video Chat, Video Conferencing, VoIP, Wired Telecommunications').split(', ')
mobile = str('Android, Google Glass, iOS, mHealth, Mobile, Mobile Apps, Mobile Devices, Mobile Payments, Windows Phone, Wireless').split(', ')
music = str('Audio, Audiobooks, Independent Music, Internet Radio, Music, Music Education, Music Label, Music Streaming, Musical Instruments, Podcast').split(', ')
resource = str('Biofuel, Biomass Energy, Fossil Fuels, Mineral, Mining, Mining Technology, Natural Resources, Oil and Gas, Precious Metals, Solar, Timber, Water, Wind Energy').split(', ')
navigation = str('Maps, Geospatial, GPS, Indoor Positioning, Location Based Services, Mapping Services, Navigation').split(', ')
other = str('Mass Customization, Monetization, Testing, Subscription Businesses, Mobility, Incentives, Peer-to-Peer, Nonprofits, Alumni, Association, B2B, B2C, Blockchain, Charity, Collaboration, Collaborative Consumption, Commercial, Consumer, Crowdsourcing, Customer Service, Desktop Apps, Emerging Markets, Enterprise, Ethereum, Franchise, Freemium, Generation Y, Generation Z, Homeless Shelter, Infrastructure, Knowledge Management, LGBT Millennials, Non Profit, Peer to Peer, Professional Services, Project Management, Real Time, Retirement, Service Industry, Sharing Economy, Small and Medium Businesses, Social Bookmarking, Social Impact, Subscription Service, Technical Support, Underserved Children, Universities').split(', ')
payment = str('Billing, Bitcoin, Credit Cards, Cryptocurrency, Debit Cards, Fraud Detection, Mobile Payments, Payments, Transaction Processing, Virtual Currency').split(', ')
platforms = str('Development Platforms, Android, Facebook, Google, Google Glass, iOS, Linux, macOS, Nintendo, Operating Systems, Playstation, Roku, Tizen, Twitter, WebOS, Windows, Windows Phone, Xbox').split(', ')
privacy = str('Digital Rights Management, Personal Data, Cloud Security, Corrections Facilities, Cyber Security, DRM, E-Signature, Fraud Detection, Homeland Security, Identity Management, Intrusion Detection, Law Enforcement, Network Security, Penetration Testing, Physical Security, Privacy, Security').split(', ')
services = str('Funeral Industry, English-Speaking, Spas, Plumbers, Service Industries, Staffing Firms, Translation, Career Management, Business Services, Services, Accounting, Business Development, Career Planning, Compliance, Consulting, Customer Service, Employment, Environmental Consulting, Field Support, Freelance, Intellectual Property, Innovation Management, Legal, Legal Tech, Management Consulting, Outsourcing, Professional Networking, Quality Assurance, Recruiting, Risk Management, Social Recruiting, Translation Service').split(', ')
realestate= str('Office Space, Self Storage, Brokers, Storage, Home Owners, Self Storage , Realtors, Home & Garden, Utilities, Home Automation, Architecture, Building Maintenance, Building Material, Commercial Real Estate, Construction, Coworking, Facility Management, Fast-Moving Consumer Goods, Green Building, Home and Garden, Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Janitorial Service, Landscaping, Property Development, Property Management, Real Estate, Real Estate Investment, Rental Property, Residential, Self-Storage, Smart Building, Smart Cities, Smart Home, Timeshare, Vacation Rental').split(', ')
sales = str('Advertising, Affiliate Marketing, App Discovery, App Marketing, Brand Marketing, Cause Marketing, Content Marketing, CRM, Digital Marketing, Digital Signage, Direct Marketing, Direct Sales, Email Marketing, Lead Generation, Lead Management, Local, Local Advertising, Local Business, Loyalty Programs, Marketing, Marketing Automation, Mobile Advertising, Multi-level Marketing, Outdoor Advertising, Personal Branding, Public Relations, Sales, Sales Automation, SEM, SEO, Social CRM, Social Media Advertising, Social Media Management, Social Media Marketing, Sponsorship, Video Advertising').split(', ')
science = str('Face Recognition, New Technologies, Advanced Materials, Aerospace, Artificial Intelligence, Bioinformatics, Biometrics, Biopharma, Biotechnology, Chemical, Chemical Engineering, Civil Engineering, Embedded Systems, Environmental Engineering, Human Computer Interaction, Industrial Automation, Industrial Engineering, Intelligent Systems, Laser, Life Science, Marine Technology, Mechanical Engineering, Nanotechnology, Neuroscience, Nuclear, Quantum Computing, Robotics, Semiconductor, Software Engineering, STEM Education').split(', ')
software = str('Business Productivity, 3D Technology, Android, App Discovery, Application Performance Management, Apps, Artificial Intelligence, Augmented Reality, Billing, Bitcoin, Browser Extensions, CAD, Cloud Computing, Cloud Management, CMS, Computer Vision, Consumer Applications, Consumer Software, Contact Management, CRM, Cryptocurrency, Data Center Automation, Data Integration, Data Storage, Data Visualization, Database, Developer APIs, Developer Platform, Developer Tools, Document Management, Drone Management, E-Learning, EdTech, Electronic Design Automation (EDA), Embedded Software, Embedded Systems, Enterprise Applications, Enterprise Resource Planning (ERP), Enterprise Software, Facial Recognition, File Sharing, IaaS, Image Recognition, iOS, Linux, Machine Learning, macOS, Marketing Automation, Meeting Software, Mobile Apps, Mobile Payments, MOOC, Natural Language Processing, Open Source, Operating Systems, PaaS, Predictive Analytics, Presentation Software, Presentations, Private Cloud, Productivity Tools, QR Codes, Reading Apps, Retail Technology, Robotics, SaaS, Sales Automation, Scheduling, Sex Tech, Simulation, SNS, Social CRM, Software, Software Engineering, Speech Recognition, Task Management, Text Analytics, Transaction Processing, Video Conferencing, Virtual Assistant, Virtual Currency, Virtual Desktop, Virtual Goods, Virtual Reality, Virtual World, Virtualization, Web Apps, Web Browsers, Web Development').split(', ')
sports = str('American Football, Baseball, Basketball, Boating, Cricket, Cycling, Diving, eSports, Fantasy Sports, Fitness, Golf, Hockey, Hunting, Outdoors, Racing, Recreation, Rugby, Sailing, Skiing, Soccer, Sporting Goods, Sports, Surfing, Swimming, Table Tennis, Tennis, Ultimate Frisbee, Volley Ball').split(', ')
sustainability = str('Green, Wind, Biomass Power Generation, Renewable Tech, Environmental Innovation, Renewable Energies, Clean Technology, Biofuel, Biomass Energy, Clean Energy, CleanTech, Energy Efficiency, Environmental Engineering, Green Building, Green Consumer Goods, GreenTech, Natural Resources, Organic, Pollution Control, Recycling, Renewable Energy, Solar, Sustainability, Waste Management, Water Purification, Wind Energy').split(', ')
transportation = str('Taxis, Air Transportation, Automotive, Autonomous Vehicles, Car Sharing, Courier Service, Delivery Service, Electric Vehicle, Ferry Service, Fleet Management, Food Delivery, Freight Service, Last Mile Transportation, Limousine Service, Logistics, Marine Transportation, Parking, Ports and Harbors, Procurement, Public Transportation, Railroad, Recreational Vehicles, Ride Sharing, Same Day Delivery, Shipping, Shipping Broker, Space Travel, Supply Chain Management, Taxi Service, Transportation, Warehousing, Water Transportation').split(', ')
travel = str('Adventure Travel, Amusement Park and Arcade, Business Travel, Casino, Hospitality, Hotel, Museums and Historical Sites, Parks, Resorts, Timeshare, Tour Operator, Tourism, Travel, Travel Accommodations, Travel Agency, Vacation Rental').split(', ')
video = str('Animation, Broadcasting, Film, Film Distribution, Film Production, Motion Capture, TV, TV Production, Video, Video Editing, Video on Demand, Video Streaming').split(', ')

In [106]:
import re 
data['Industry_Group'] = pd.np.where(data.market.str.contains('|'.join(admin_services), flags=re.IGNORECASE), "Administrative Services",
                               pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software", 
                               pd.np.where(data.market.str.contains('|'.join(advertising), flags=re.IGNORECASE), "Advertising",
                               pd.np.where(data.market.str.contains('|'.join(agriculture), flags=re.IGNORECASE), "Agriculture and Farming",
                               pd.np.where(data.market.str.contains('|'.join(app), flags=re.IGNORECASE), "Apps", 
                               pd.np.where(data.market.str.contains('|'.join(artificial_intelli), flags=re.IGNORECASE), "Artificial Intelligence", 
                               pd.np.where(data.market.str.contains('|'.join(biotechnology), flags=re.IGNORECASE), "Biotechnology", 
                               pd.np.where(data.market.str.contains('|'.join(clothing), flags=re.IGNORECASE), "Clothing and Apparel", 
                               pd.np.where(data.market.str.contains('|'.join(shopping), flags=re.IGNORECASE), "Commerce and Shopping", 
                               pd.np.where(data.market.str.contains('|'.join(community), flags=re.IGNORECASE), "Community and Lifestyle", 
                               pd.np.where(data.market.str.contains('|'.join(electronics), flags=re.IGNORECASE), "Consumer Electronics", 
                               pd.np.where(data.market.str.contains('|'.join(consumer_goods), flags=re.IGNORECASE), "Consumer Goods", 
                               pd.np.where(data.market.str.contains('|'.join(content), flags=re.IGNORECASE), "Content and Publishing", 
                               pd.np.where(data.market.str.contains('|'.join(data), flags=re.IGNORECASE), "Data and Analytics",
                               pd.np.where(data.market.str.contains('|'.join(design), flags=re.IGNORECASE), "Design", 
                               pd.np.where(data.market.str.contains('|'.join(education), flags=re.IGNORECASE), "Education", 
                               pd.np.where(data.market.str.contains('|'.join(energy), flags=re.IGNORECASE), "Energy", 
                               pd.np.where(data.market.str.contains('|'.join(events), flags=re.IGNORECASE), "Events", 
                               pd.np.where(data.market.str.contains('|'.join(financial), flags=re.IGNORECASE), "Financial Services",
                               pd.np.where(data.market.str.contains('|'.join(food), flags=re.IGNORECASE), "Food and Beverage", 
                               pd.np.where(data.market.str.contains('|'.join(gaming), flags=re.IGNORECASE), "Gaming", 
                               pd.np.where(data.market.str.contains('|'.join(government), flags=re.IGNORECASE), "Government and Military", 
                               pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
                               pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",
                               pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology", 
                               pd.np.where(data.market.str.contains('|'.join(internet), flags=re.IGNORECASE), "Internet Services", 
                               pd.np.where(data.market.str.contains('|'.join(invest), flags=re.IGNORECASE), "Lending and Investments", 
                               pd.np.where(data.market.str.contains('|'.join(manufacturing), flags=re.IGNORECASE), "Manufacturing",
                               pd.np.where(data.market.str.contains('|'.join(media), flags=re.IGNORECASE), "Media and Entertainment",
                               pd.np.where(data.market.str.contains('|'.join(message), flags=re.IGNORECASE), "Messaging and Telecommunication", 
                               pd.np.where(data.market.str.contains('|'.join(mobile), flags=re.IGNORECASE), "Mobile", 
                               pd.np.where(data.market.str.contains('|'.join(music), flags=re.IGNORECASE), "Music and Audio", 
                               pd.np.where(data.market.str.contains('|'.join(resource), flags=re.IGNORECASE), "Natural Resources",
                               pd.np.where(data.market.str.contains('|'.join(navigation), flags=re.IGNORECASE), "Navigation and Mapping",
                               pd.np.where(data.market.str.contains('|'.join(payment), flags=re.IGNORECASE), "Payments", 
                               pd.np.where(data.market.str.contains('|'.join(platforms), flags=re.IGNORECASE), "Platforms", 
                               pd.np.where(data.market.str.contains('|'.join(privacy), flags=re.IGNORECASE), "Privacy and Security", 
                               pd.np.where(data.market.str.contains('|'.join(services), flags=re.IGNORECASE), "Professional Services",
                               pd.np.where(data.market.str.contains('|'.join(realestate), flags=re.IGNORECASE), "Real Estate", 
                               pd.np.where(data.market.str.contains('|'.join(sales), flags=re.IGNORECASE), "Sales and Marketing", 
                               pd.np.where(data.market.str.contains('|'.join(science), flags=re.IGNORECASE), "Science and Engineering", 
                               pd.np.where(data.market.str.contains('|'.join(sports), flags=re.IGNORECASE), "Sports",
                               pd.np.where(data.market.str.contains('|'.join(sustainability), flags=re.IGNORECASE), "Sustainability", 
                               pd.np.where(data.market.str.contains('|'.join(transportation), flags=re.IGNORECASE), "Transportation", 
                               pd.np.where(data.market.str.contains('|'.join(travel), flags=re.IGNORECASE), "Travel and Tourism", 
                               pd.np.where(data.market.str.contains('|'.join(video), flags=re.IGNORECASE), "Video",
                               pd.np.where(data.market.str.contains('|'.join(other), flags=re.IGNORECASE), "Other",  "Other")))))))))))))))))))))))))))))))))))))))))))))))

/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data['Industry_Group'] = pd.np.where(data.market.str.contains('|'.join(admin_services), flags=re.IGNORECASE), "Administrative Services",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(advertising), flags=re.IGNORECASE), "Advertising",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(agriculture), flags=re.IGNORECASE), "Agriculture and Farming",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(app), flags=re.IGNORECASE), "Apps",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(artificial_intelli), flags=re.IGNORECASE), "Artificial Intelligence",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(biotechnology), flags=re.IGNORECASE), "Biotechnology",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(clothing), flags=re.IGNORECASE), "Clothing and Apparel",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(shopping), flags=re.IGNORECASE), "Commerce and Shopping",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(community), flags=re.IGNORECASE), "Community and Lifestyle",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:12: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(electronics), flags=re.IGNORECASE), "Consumer Electronics",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:13: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(consumer_goods), flags=re.IGNORECASE), "Consumer Goods",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:14: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(content), flags=re.IGNORECASE), "Content and Publishing",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:15: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(data), flags=re.IGNORECASE), "Data and Analytics",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:16: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(design), flags=re.IGNORECASE), "Design",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:17: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(education), flags=re.IGNORECASE), "Education",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:18: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(energy), flags=re.IGNORECASE), "Energy",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:19: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(events), flags=re.IGNORECASE), "Events",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:20: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(financial), flags=re.IGNORECASE), "Financial Services",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:21: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(food), flags=re.IGNORECASE), "Food and Beverage",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:22: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(gaming), flags=re.IGNORECASE), "Gaming",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:23: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(government), flags=re.IGNORECASE), "Government and Military",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:24: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:24: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:25: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",

/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:26: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:26: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(internet), flags=re.IGNORECASE), "Internet Services",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(invest), flags=re.IGNORECASE), "Lending and Investments",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(manufacturing), flags=re.IGNORECASE), "Manufacturing",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(media), flags=re.IGNORECASE), "Media and Entertainment",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(message), flags=re.IGNORECASE), "Messaging and Telecommunication",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(mobile), flags=re.IGNORECASE), "Mobile",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:33: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(music), flags=re.IGNORECASE), "Music and Audio",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(resource), flags=re.IGNORECASE), "Natural Resources",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(navigation), flags=re.IGNORECASE), "Navigation and Mapping",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:36: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(payment), flags=re.IGNORECASE), "Payments",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:37: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(platforms), flags=re.IGNORECASE), "Platforms",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:38: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(privacy), flags=re.IGNORECASE), "Privacy and Security",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:39: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(services), flags=re.IGNORECASE), "Professional Services",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:40: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(realestate), flags=re.IGNORECASE), "Real Estate",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:41: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sales), flags=re.IGNORECASE), "Sales and Marketing",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:42: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(science), flags=re.IGNORECASE), "Science and Engineering",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:43: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sports), flags=re.IGNORECASE), "Sports",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:44: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sustainability), flags=re.IGNORECASE), "Sustainability",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(transportation), flags=re.IGNORECASE), "Transportation",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:46: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(travel), flags=re.IGNORECASE), "Travel and Tourism",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:47: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(video), flags=re.IGNORECASE), "Video",
/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/3623873125.py:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(other), flags=re.IGNORECASE), "Other",  "Other")))))))))))))))))))))))))))))))))))))))))))))))

In [107]:
data.head(5)

,name,homepage_url,category_list,market,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group
0,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,1,6/1/12,6/30/12,6/30/12,Content and Publishing
1,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,2,NaN,6/4/10,9/23/10,Gaming
2,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,Other,1,10/26/12,8/9/12,8/9/12,Content and Publishing
3,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,Other,1,4/1/11,4/1/11,4/1/11,Consumer Electronics
4,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,2,1/1/14,8/17/14,9/26/14,Travel and Tourism

In [108]:
data_1 = data

In [109]:
data_1 = data_1.drop('market', axis = 1)

In [110]:
data_1 = data_1.drop('category_list', axis = 1)

In [111]:
data_1.head(5)

,name,homepage_url,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group
0,#waywire,http://www.waywire.com,1750000,acquired,USA,1,6/1/12,6/30/12,6/30/12,Content and Publishing
1,&TV Communications,http://enjoyandtv.com,4000000,operating,USA,2,NaN,6/4/10,9/23/10,Gaming
2,'Rock' Your Paper,http://www.rockyourpaper.org,40000,operating,Other,1,10/26/12,8/9/12,8/9/12,Content and Publishing
3,(In)Touch Network,http://www.InTouchNetwork.com,1500000,operating,Other,1,4/1/11,4/1/11,4/1/11,Consumer Electronics
4,-R- Ranch and Mine,NaN,60000,operating,USA,2,1/1/14,8/17/14,9/26/14,Travel and Tourism

In [112]:
data_1['time_between_first_last_funding'] = (pd.to_datetime(X['last_funding_at'], format='%m/%d/%y', errors="coerce") - pd.to_datetime(data_1['first_funding_at'], errors="coerce")).dt.days

NameError: name 'X' is not defined

In [113]:
data_1.head(5)

,name,homepage_url,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group
0,#waywire,http://www.waywire.com,1750000,acquired,USA,1,6/1/12,6/30/12,6/30/12,Content and Publishing
1,&TV Communications,http://enjoyandtv.com,4000000,operating,USA,2,NaN,6/4/10,9/23/10,Gaming
2,'Rock' Your Paper,http://www.rockyourpaper.org,40000,operating,Other,1,10/26/12,8/9/12,8/9/12,Content and Publishing
3,(In)Touch Network,http://www.InTouchNetwork.com,1500000,operating,Other,1,4/1/11,4/1/11,4/1/11,Consumer Electronics
4,-R- Ranch and Mine,NaN,60000,operating,USA,2,1/1/14,8/17/14,9/26/14,Travel and Tourism

In [114]:
data_1 = data_1[data_1['funding_total_usd'] != ' -   ']
data_1 = data_1.reset_index(drop=True)
data_1 = data_1.drop_duplicates(subset=['name', 'homepage_url', 'Industry_Group'])

In [115]:
# YOUR CODE HERE
# YOUR CODE HERE
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import make_union
from sklearn.compose import make_column_transformer
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
# Build the pipeline with the different steps

In [116]:
data_1 = data_1.drop(columns=['status'])
y = data['status']

In [117]:
data_1.head()

,name,homepage_url,funding_total_usd,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group
0,#waywire,http://www.waywire.com,1750000,USA,1,6/1/12,6/30/12,6/30/12,Content and Publishing
1,&TV Communications,http://enjoyandtv.com,4000000,USA,2,NaN,6/4/10,9/23/10,Gaming
2,'Rock' Your Paper,http://www.rockyourpaper.org,40000,Other,1,10/26/12,8/9/12,8/9/12,Content and Publishing
3,(In)Touch Network,http://www.InTouchNetwork.com,1500000,Other,1,4/1/11,4/1/11,4/1/11,Consumer Electronics
4,-R- Ranch and Mine,NaN,60000,USA,2,1/1/14,8/17/14,9/26/14,Travel and Tourism

In [118]:
# Build the pipeline with the different steps
# Preprocessor
num_transformer = make_pipeline(SimpleImputer(), MinMaxScaler())
cat_transformer = make_pipeline(SimpleImputer(strategy="most_frequent"),OneHotEncoder(handle_unknown = 'ignore'))
#cat_transformer = make_pipeline(OneHotEncoder(handle_unknown = 'ignore'),SimpleImputer(strategy="most_frequent"))


cat_transformer = OneHotEncoder(sparse=False,handle_unknown = 'ignore')
preproc = make_column_transformer(
    (num_transformer, make_column_selector(dtype_include=['int64'])),
    (cat_transformer, make_column_selector(dtype_include=['object'])),
    remainder='passthrough'
)

preproc

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer()),
                                                 ('minmaxscaler',
                                                  MinMaxScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x1330549a0>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore',
                                               sparse=False),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x133057b50>)])

In [119]:
X_transform = preproc.fit_transform(X,y)

NameError: name 'X' is not defined

In [120]:
#score_baseline = cross_val_score(pipeline, X_transform_df, y, cv=5, scoring=rmsle).mean()

In [121]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])
clf.predict_proba(X[:2, :])
clf.score(X, y)
0.97...

SyntaxError: invalid syntax (4131228923.py, line 7)

In [122]:
data_2 = data_set_clean
pd.set_option("display.max_columns", None)
data_2

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,1750000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,0,4000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,Other,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,40000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,Other,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,1500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2,1/1/14,2014-01,2014-Q1,2014.0,8/17/14,9/26/14,0,0,60000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,320000,operating,Other,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,320000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49434,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1587301,operating,Other,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0
49435,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97398,operating,Other,NaN,Split,Split,5,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,9/10/14,71525,0,0,0,25873,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49436,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9300000,operating,Other,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,9300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49437,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0

In [123]:
data_2.groupby('status')['funding_total_usd'].describe()

           count unique    top  freq
status
acquired    3692   1589   -      474
closed      2602    963   -      445
operating  41829  12879   -     7403

In [124]:
data_2.groupby('status')['funding_rounds'].describe()

             count      mean       std  min  25%  50%  75%   max
status
acquired    3692.0  2.013814  1.398832  1.0  1.0  2.0  3.0  15.0
closed      2602.0  1.434281  0.965626  1.0  1.0  1.0  2.0  11.0
operating  41829.0  1.689522  1.302072  1.0  1.0  1.0  2.0  18.0

In [125]:
data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'].mean().T

/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/77595344.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',

status                    acquired        closed     operating
funding_rounds        2.013814e+00  1.434281e+00  1.689522e+00
seed                  1.783670e+05  1.415478e+05  2.275289e+05
venture               1.385521e+07  5.214256e+06  7.194281e+06
equity_crowdfunding   2.406028e+03  0.000000e+00  6.984983e+03
undisclosed           1.559854e+05  3.733994e+04  1.304164e+05
convertible_note      6.423306e+03  1.012819e+04  2.587812e+04
debt_financing        1.905123e+06  6.265452e+05  1.989447e+06
angel                 6.677897e+04  7.331412e+04  6.554313e+04
grant                 2.570494e+04  5.859317e+04  1.811988e+05
private_equity        2.637853e+06  5.578172e+05  2.129350e+06
post_ipo_equity       1.611554e+06  3.035088e+05  5.075855e+05
post_ipo_debt         3.093987e+05  0.000000e+00  4.409116e+05
secondary_market      2.464789e+02  2.822363e+03  4.514165e+04
product_crowdfunding  7.313109e+02  1.037663e+01  8.176997e+03
round_A               2.174661e+06  1.064426e+06  1.189144e+06
round_B               3.425453e+06  1.215301e+06  1.361950e+06
round_C               2.729664e+06  6.586881e+05  1.132962e+06
round_D               1.539313e+06  2.840487e+05  7.145365e+05
round_E               5.004732e+05  2.429746e+05  3.433617e+05
round_F               1.511213e+05  1.731360e+05  1.763014e+05
round_G               2.315818e+04  1.921599e+04  6.492200e+04
round_H               0.000000e+00  0.000000e+00  1.682087e+04

In [126]:
data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'].median().T

/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/4280548685.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',

status                 acquired  closed  operating
funding_rounds              2.0     1.0        1.0
seed                        0.0     0.0        0.0
venture               5000000.0     0.0        0.0
equity_crowdfunding         0.0     0.0        0.0
undisclosed                 0.0     0.0        0.0
convertible_note            0.0     0.0        0.0
debt_financing              0.0     0.0        0.0
angel                       0.0     0.0        0.0
grant                       0.0     0.0        0.0
private_equity              0.0     0.0        0.0
post_ipo_equity             0.0     0.0        0.0
post_ipo_debt               0.0     0.0        0.0
secondary_market            0.0     0.0        0.0
product_crowdfunding        0.0     0.0        0.0
round_A                     0.0     0.0        0.0
round_B                     0.0     0.0        0.0
round_C                     0.0     0.0        0.0
round_D                     0.0     0.0        0.0
round_E                     0.0     0.0        0.0
round_F                     0.0     0.0        0.0
round_G                     0.0     0.0        0.0
round_H                     0.0     0.0        0.0

In [127]:
data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'].sum().T

/var/folders/r8/6l9smpcs71zdwhw9ylnqkvzm0000gn/T/ipykernel_49842/1093624725.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_2.groupby('status')['funding_rounds', 'funding_total_usd', 'seed', 'venture', 'equity_crowdfunding',

status                   acquired       closed     operating
funding_rounds               7435         3732         70671
seed                    658530823    368307465    9517305062
venture               51153432890  13567494277  300929587728
equity_crowdfunding       8883057            0     292174861
undisclosed             575897922     97158534    5455188093
convertible_note         23714844     26353561    1082455882
debt_financing         7033715054   1630270513   83216573110
angel                   246547943    190763332    2741603525
grant                    94902628    152459421    7579363282
private_equity         9738952745   1451440399   89068594537
post_ipo_equity        5949858964    789730000   21231795666
post_ipo_debt          1142300000            0   18442889332
secondary_market           910000      7343789    1888230101
product_crowdfunding      2700000        27000     342035589
round_A                8028849028   2769637698   49740705389
round_B               12646771400   3162212072   56969004436
round_C               10077918295   1713906317   47390682473
round_D                5683145343    739094735   29888347310
round_E                1847747182    632220000   14362475715
round_F                 557940019    450500000    7374509190
round_G                  85500000     50000000    2715622473
round_H                         0            0     703600000

In [130]:
data_2

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,1750000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,0,4000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,Other,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,40000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,Other,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,1500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2,1/1/14,2014-01,2014-Q1,2014.0,8/17/14,9/26/14,0,0,60000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,320000,operating,Other,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,320000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49434,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1587301,operating,Other,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0
49435,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97398,operating,Other,NaN,Split,Split,5,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,9/10/14,71525,0,0,0,25873,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49436,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9300000,operating,Other,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,9300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49437,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0

In [135]:
data_2['total_investment'] = data_2['seed'] + data_2['venture'] + data_2['equity_crowdfunding'] + data_2['undisclosed'] + data_2['convertible_note'] + data_2['debt_financing'] + data_2['angel'] + data_2['grant'] + data_2['private_equity'] + data_2['post_ipo_equity'] + data_2['post_ipo_debt'] + data_2['secondary_market'] + data_2['product_crowdfunding']
data_2['Round_total_investment'] = data_2['round_A'] + data_2['round_B'] + data_2['round_C'] + data_2['round_D'] + data_2['round_E'] + data_2['round_F'] + data_2['round_G'] + data_2['round_H']
data_2

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H,total_investment,Round_total_investment
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012.0,6/30/12,6/30/12,1750000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1750000,0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,0,4000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4000000,0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,Other,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012.0,8/9/12,8/9/12,40000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,Other,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011.0,4/1/11,4/1/11,1500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500000,0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2,1/1/14,2014-01,2014-Q1,2014.0,8/17/14,9/26/14,0,0,60000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,320000,operating,Other,NaN,London,London,1,1/28/13,2013-01,2013-Q1,2013.0,3/24/14,3/24/14,320000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,320000,0
49434,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1587301,operating,Other,NaN,Beijing,Beijing,1,NaN,NaN,NaN,NaN,4/1/12,4/1/12,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0,1587301,1587301
49435,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97398,operating,Other,NaN,Split,Split,5,5/13/12,2012-05,2012-Q2,2012.0,11/1/11,9/10/14,71525,0,0,0,25873,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,97398,0
49436,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9300000,operating,Other,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,11/21/11,11/21/11,9300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9300000,0
49437,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000,operating,USA,NY,New York City,New York,4,1/1/99,1999-01,1999-Q1,1999.0,6/1/08,4/4/13,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0,45000000,26000000

In [136]:
data_2[['funding_rounds', 'funding_total_usd','total_investment','Round_total_investment','seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H']]

,funding_rounds,funding_total_usd,total_investment,Round_total_investment,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,1,1750000,1750000,0,1750000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,4000000,4000000,0,0,4000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,40000,40000,0,40000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1500000,1500000,0,1500000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2,60000,60000,0,0,0,60000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49433,1,320000,320000,0,320000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49434,1,1587301,1587301,1587301,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0
49435,5,97398,97398,0,71525,0,0,0,25873,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49436,1,9300000,9300000,0,9300000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49437,4,45000000,45000000,26000000,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0

In [140]:
data_2[data_2['Round_total_investment'] != 0]
data_2[data_2['Round_total_investment'] != 0][['funding_rounds', 'founded_at','first_funding_at','last_funding_at','funding_total_usd','total_investment','Round_total_investment','seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H']]

,funding_rounds,founded_at,first_funding_at,last_funding_at,funding_total_usd,total_investment,Round_total_investment,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
5,1,10/10/11,5/31/13,5/31/13,7000000,7000000,7000000,0,7000000,0,0,0,0,0,0,0,0,0,0,0,0,7000000,0,0,0,0,0,0
7,1,1/1/07,3/19/08,3/19/08,2000000,2000000,2000000,0,2000000,0,0,0,0,0,0,0,0,0,0,0,2000000,0,0,0,0,0,0,0
15,2,1/1/13,1/1/13,10/9/14,4400000,4400000,4000000,400000,4000000,0,0,0,0,0,0,0,0,0,0,0,4000000,0,0,0,0,0,0,0
20,2,7/1/10,1/1/10,2/16/11,2535000,2535000,2520000,15000,2520000,0,0,0,0,0,0,0,0,0,0,0,2520000,0,0,0,0,0,0,0
22,4,11/20/10,12/15/12,11/13/13,4059079,4059079,3536910,522169,3536910,0,0,0,0,0,0,0,0,0,0,0,3536910,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49429,4,1/1/98,1/29/10,3/26/14,34275015,34275015,12000000,0,26775015,0,0,0,0,0,7500000,0,0,0,0,0,0,12000000,0,0,0,0,0,0
49430,4,1/1/94,1/1/08,2/15/13,15419877,15419877,7991547,0,7991547,0,0,0,0,2007363,5400000,20967,0,0,0,0,7991547,0,0,0,0,0,0,0
49432,1,1/1/07,1/29/13,1/29/13,2686600,2686600,2686600,0,2686600,0,0,0,0,0,0,0,0,0,0,0,2686600,0,0,0,0,0,0,0
49434,1,NaN,4/1/12,4/1/12,1587301,1587301,1587301,0,1587301,0,0,0,0,0,0,0,0,0,0,0,1587301,0,0,0,0,0,0,0
49437,4,1/1/99,6/1/08,4/4/13,45000000,45000000,26000000,0,28000000,0,0,0,17000000,0,0,0,0,0,0,0,16000000,10000000,0,0,0,0,0,0