In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import ydata_profiling as pp
import seaborn as sns
import warnings
import os

data = pd.read_csv('../data/Start_up_data.csv', encoding= 'unicode_escape')

In [2]:
data = data.iloc[:49438]

In [3]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.strip()
data.columns = data.columns.str.replace('[^a-zA-Z0-9_]', '', regex=True)
data = data.dropna(subset=['name'])
data['homepage_url'] = data['homepage_url'].fillna('Website not Provided')
columns_to_remove = [
    'permalink', 'state_code', 'region', 'city', 'founded_month',
    'founded_quarter', 'founded_year', 'seed', 'venture', 'equity_crowdfunding',
    'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
    'private_equity', 'post_ipo_equity', 'post_ipo_debt', 'secondary_market',
    'product_crowdfunding', 'round_A', 'round_B', 'round_C', 'round_D', 'round_E',
    'round_F', 'round_G', 'round_H'
]
data = data.drop(columns=columns_to_remove, axis=1)

In [4]:
data.columns

Index(['name', 'homepage_url', 'category_list', 'market', 'funding_total_usd',
       'status', 'country_code', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at'],
      dtype='object')

In [5]:
data = data.dropna(subset=['market'])
data = data.dropna(subset=['status'])

In [6]:
data['funding_total_usd'] = data['funding_total_usd'].str.replace(',', '')
data.loc[data['country_code'] != 'USA', 'country_code'] = 'Other'

In [7]:
admin_services = str('Employer Benefits Programs, Human Resource Automation, Corporate IT, Distribution, Service Providers, Archiving Service, Call Center, Collection Agency, College Recruiting, Courier Service, Debt Collections, Delivery, Document Preparation, Employee Benefits, Extermination Service, Facilities Support Services, Housekeeping Service, Human Resources, Knowledge Management, Office Administration, Packaging Services, Physical Security, Project Management, Staffing Agency, Trade Shows, Virtual Workforce').split(', ')
advertising = str('Creative Industries, Promotional, Advertising Ad Exchange, Ad Network, Ad Retargeting, Ad Server, Ad Targeting, Advertising, Advertising Platforms, Affiliate Marketing, Local Advertising, Mobile Advertising, Outdoor Advertising, SEM, Social Media Advertising, Video Advertising').split(', ')
agriculture = str('Agriculture, AgTech, Animal Feed, Aquaculture, Equestrian, Farming, Forestry, Horticulture, Hydroponics, Livestock').split(', ')
app = str('Application Performance Monitoring, App Stores, Application Platforms, Enterprise Application, App Discovery, Apps, Consumer Applications, Enterprise Applications, Mobile Apps, Reading Apps, Web Apps').split(', ')
artificial_intelli = str('Artificial Intelligence, Intelligent Systems, Machine Learning, Natural Language Processing, Predictive Analytics').split(', ')
biotechnology = str('Synthetic Biology, Bio-Pharm, Bioinformatics, Biometrics, Biopharma, Biotechnology, Genetics, Life Science, Neuroscience, Quantified Self').split(', ')
clothing = str('Fashion, Laundry and Dry-cleaning, Lingerie, Shoes').split(', ')
shopping = str('Consumer Behavior, Customer Support Tools, Discounts, Reviews and Recommendations, Auctions, Classifieds, Collectibles, Consumer Reviews, Coupons, E-Commerce, E-Commerce Platforms, Flash Sale, Gift, Gift Card, Gift Exchange, Gift Registry, Group Buying, Local Shopping, Made to Order, Marketplace, Online Auctions, Personalization, Point of Sale, Price Comparison, Rental, Retail, Retail Technology, Shopping, Shopping Mall, Social Shopping, Sporting Goods, Vending and Concessions, Virtual Goods, Wholesale').split(', ')
community = str("Self Development, Sex, Forums, Match-Making, Babies, Identity, Women, Kids, Entrepreneur, Networking, Adult, Baby, Cannabis, Children, Communities, Dating, Elderly, Family, Funerals, Humanitarian, Leisure, LGBT, Lifestyle, Men's, Online Forums, Parenting, Pet, Private Social Networking, Professional Networking, Q&A, Religion, Retirement, Sex Industry, Sex Tech, Social, Social Entrepreneurship, Teenagers, Virtual World, Wedding, Women's, Young Adults").split(', ')
electronics  = str('Mac, iPod Touch, Tablets, iPad, iPhone, Computer, Consumer Electronics, Drones, Electronics, Google Glass, Mobile Devices, Nintendo, Playstation, Roku, Smart Home, Wearables, Windows Phone, Xbox').split(', ')
consumer_goods= str('Commodities, Sunglasses, Groceries, Batteries, Cars, Beauty, Comics, Consumer Goods, Cosmetics, DIY, Drones, Eyewear, Fast-Moving Consumer Goods, Flowers, Furniture, Green Consumer Goods, Handmade, Jewelry, Lingerie, Shoes, Tobacco, Toys').split(', ')
content = str('E-Books, MicroBlogging, Opinions, Blogging Platforms, Content Delivery Network, Content Discovery, Content Syndication, Creative Agency, DRM, EBooks, Journalism, News, Photo Editing, Photo Sharing, Photography, Printing, Publishing, Social Bookmarking, Video Editing, Video Streaming').split(', ')
datagroup = str('Optimization, A/B Testing, Analytics, Application Performance Management, Artificial Intelligence, Big Data, Bioinformatics, Biometrics, Business Intelligence, Consumer Research, Data Integration, Data Mining, Data Visualization, Database, Facial Recognition, Geospatial, Image Recognition, Intelligent Systems, Location Based Services, Machine Learning, Market Research, Natural Language Processing, Predictive Analytics, Product Research, Quantified Self, Speech Recognition, Test and Measurement, Text Analytics, Usability Testing').split(', ')
design = str('Visualization, Graphics, Design, Designers, CAD, Consumer Research, Data Visualization, Fashion, Graphic Design, Human Computer Interaction, Industrial Design, Interior Design, Market Research, Mechanical Design, Product Design, Product Research, Usability Testing, UX Design, Web Design').split(', ')
education = str('Universities, College Campuses, University Students, High Schools, All Students, Colleges, Alumni, Charter Schools, College Recruiting, Continuing Education, Corporate Training, E-Learning, EdTech, Education, Edutainment, Higher Education, Language Learning, MOOC, Music Education, Personal Development, Primary Education, Secondary Education, Skill Assessment, STEM Education, Textbook, Training, Tutoring, Vocational Education').split(', ')
energy = str('Gas, Natural Gas Uses, Oil, Oil & Gas, Battery, Biofuel, Biomass Energy, Clean Energy, Electrical Distribution, Energy, Energy Efficiency, Energy Management, Energy Storage, Fossil Fuels, Fuel, Fuel Cell, Oil and Gas, Power Grid, Renewable Energy, Solar, Wind Energy').split(', ')
events = str('Concerts, Event Management, Event Promotion, Events, Nightclubs, Nightlife, Reservations, Ticketing, Wedding').split(', ')
financial = str('Debt Collecting, P2P Money Transfer, Investment Management, Trading, Accounting, Angel Investment, Asset Management, Auto Insurance, Banking, Bitcoin, Commercial Insurance, Commercial Lending, Consumer Lending, Credit, Credit Bureau, Credit Cards, Crowdfunding, Cryptocurrency, Debit Cards, Debt Collections, Finance, Financial Exchanges, Financial Services, FinTech, Fraud Detection, Funding Platform, Gift Card, Health Insurance, Hedge Funds, Impact Investing, Incubators, Insurance, InsurTech, Leasing, Lending, Life Insurance, Micro Lending, Mobile Payments, Payments, Personal Finance, Prediction Markets, Property Insurance, Real Estate Investment, Stock Exchanges, Trading Platform, Transaction Processing, Venture Capital, Virtual Currency, Wealth Management').split(', ')
food = str('Specialty Foods, Bakery, Brewing, Cannabis, Catering, Coffee, Confectionery, Cooking, Craft Beer, Dietary Supplements, Distillery, Farmers Market, Food and Beverage, Food Delivery, Food Processing, Food Trucks, Fruit, Grocery, Nutrition, Organic Food, Recipes, Restaurants, Seafood, Snack Food, Tea, Tobacco, Wine And Spirits, Winery').split(', ')
gaming = str('Game, Games, Casual Games, Console Games, Contests, Fantasy Sports, Gambling, Gamification, Gaming, MMO Games, Online Games, PC Games, Serious Games, Video Games').split(', ')
government = str('Polling, Governance, CivicTech, Government, GovTech, Law Enforcement, Military, National Security, Politics, Public Safety, Social Assistance').split(', ')
hardware= str('Cable, 3D, 3D Technology, Application Specific Integrated Circuit (ASIC), Augmented Reality, Cloud Infrastructure, Communication Hardware, Communications Infrastructure, Computer, Computer Vision, Consumer Electronics, Data Center, Data Center Automation, Data Storage, Drone Management, Drones, DSP, Electronic Design Automation (EDA), Electronics, Embedded Systems, Field-Programmable Gate Array (FPGA), Flash Storage, Google Glass, GPS, GPU, Hardware, Industrial Design, Laser, Lighting, Mechanical Design, Mobile Devices, Network Hardware, NFC, Nintendo, Optical Communication, Playstation, Private Cloud, Retail Technology, RFID, RISC, Robotics, Roku, Satellite Communication, Semiconductor, Sensor, Sex Tech, Telecommunications, Video Conferencing, Virtual Reality, Virtualization, Wearables, Windows Phone, Wireless, Xbox').split(', ')
health_care = str('Senior Health, Physicians, Electronic Health Records, Doctors, Healthcare Services, Diagnostics, Alternative Medicine, Assisted Living, Assistive Technology, Biopharma, Cannabis, Child Care, Clinical Trials, Cosmetic Surgery, Dental, Diabetes, Dietary Supplements, Elder Care, Electronic Health Record (EHR), Emergency Medicine, Employee Benefits, Fertility, First Aid, Funerals, Genetics, Health Care, Health Diagnostics, Home Health Care, Hospital, Medical, Medical Device, mHealth, Nursing and Residential Care, Nutraceutical, Nutrition, Outpatient Care, Personal Health, Pharmaceutical, Psychology, Rehabilitation, Therapeutics, Veterinary, Wellness').split(', ')
it = str('Distributors, Algorithms, ICT, M2M, Technology, Business Information Systems, CivicTech, Cloud Data Services, Cloud Management, Cloud Security, CMS, Contact Management, CRM, Cyber Security, Data Center, Data Center Automation, Data Integration, Data Mining, Data Visualization, Document Management, E-Signature, Email, GovTech, Identity Management, Information and Communications Technology (ICT), Information Services, Information Technology, Intrusion Detection, IT Infrastructure, IT Management, Management Information Systems, Messaging, Military, Network Security, Penetration Testing, Private Cloud, Reputation, Sales Automation, Scheduling, Social CRM, Spam Filtering, Technical Support, Unified Communications, Video Chat, Video Conferencing, Virtualization, VoIP').split(', ')
internet = str('Online Identity, Cyber, Portals, Web Presence Management, Domains, Tracking, Web Tools, Curated Web, Search, Cloud Computing, Cloud Data Services, Cloud Infrastructure, Cloud Management, Cloud Storage, Darknet, Domain Registrar, E-Commerce Platforms, Ediscovery, Email, Internet, Internet of Things, ISP, Location Based Services, Messaging, Music Streaming, Online Forums, Online Portals, Private Cloud, Product Search, Search Engine, SEM, Semantic Search, Semantic Web, SEO, SMS, Social Media, Social Media Management, Social Network, Unified Communications, Vertical Search, Video Chat, Video Conferencing, Visual Search, VoIP, Web Browsers, Web Hosting').split(', ')
invest = str('Angel Investment, Banking, Commercial Lending, Consumer Lending, Credit, Credit Cards, Financial Exchanges, Funding Platform, Hedge Funds, Impact Investing, Incubators, Micro Lending, Stock Exchanges, Trading Platform, Venture Capital').split(', ')
manufacturing = str('Innovation Engineering, Civil Engineers, Heavy Industry, Engineering Firms, Systems, 3D Printing, Advanced Materials, Foundries, Industrial, Industrial Automation, Industrial Engineering, Industrial Manufacturing, Machinery Manufacturing, Manufacturing, Paper Manufacturing, Plastics and Rubber Manufacturing, Textiles, Wood Processing').split(', ')
media = str('Writers, Creative, Television, Entertainment, Media, Advice, Animation, Art, Audio, Audiobooks, Blogging Platforms, Broadcasting, Celebrity, Concerts, Content, Content Creators, Content Discovery, Content Syndication, Creative Agency, Digital Entertainment, Digital Media, DRM, EBooks, Edutainment, Event Management, Event Promotion, Events, Film, Film Distribution, Film Production, Guides, In-Flight Entertainment, Independent Music, Internet Radio, Journalism, Media and Entertainment, Motion Capture, Music, Music Education, Music Label, Music Streaming, Music Venues, Musical Instruments, News, Nightclubs, Nightlife, Performing Arts, Photo Editing, Photo Sharing, Photography, Podcast, Printing, Publishing, Reservations, Social Media, Social News, Theatre, Ticketing, TV, TV Production, Video, Video Editing, Video on Demand, Video Streaming, Virtual World').split(', ')
message = str('Unifed Communications, Chat, Email, Meeting Software, Messaging, SMS, Unified Communications, Video Chat, Video Conferencing, VoIP, Wired Telecommunications').split(', ')
mobile = str('Android, Google Glass, iOS, mHealth, Mobile, Mobile Apps, Mobile Devices, Mobile Payments, Windows Phone, Wireless').split(', ')
music = str('Audio, Audiobooks, Independent Music, Internet Radio, Music, Music Education, Music Label, Music Streaming, Musical Instruments, Podcast').split(', ')
resource = str('Biofuel, Biomass Energy, Fossil Fuels, Mineral, Mining, Mining Technology, Natural Resources, Oil and Gas, Precious Metals, Solar, Timber, Water, Wind Energy').split(', ')
navigation = str('Maps, Geospatial, GPS, Indoor Positioning, Location Based Services, Mapping Services, Navigation').split(', ')
other = str('Mass Customization, Monetization, Testing, Subscription Businesses, Mobility, Incentives, Peer-to-Peer, Nonprofits, Alumni, Association, B2B, B2C, Blockchain, Charity, Collaboration, Collaborative Consumption, Commercial, Consumer, Crowdsourcing, Customer Service, Desktop Apps, Emerging Markets, Enterprise, Ethereum, Franchise, Freemium, Generation Y, Generation Z, Homeless Shelter, Infrastructure, Knowledge Management, LGBT Millennials, Non Profit, Peer to Peer, Professional Services, Project Management, Real Time, Retirement, Service Industry, Sharing Economy, Small and Medium Businesses, Social Bookmarking, Social Impact, Subscription Service, Technical Support, Underserved Children, Universities').split(', ')
payment = str('Billing, Bitcoin, Credit Cards, Cryptocurrency, Debit Cards, Fraud Detection, Mobile Payments, Payments, Transaction Processing, Virtual Currency').split(', ')
platforms = str('Development Platforms, Android, Facebook, Google, Google Glass, iOS, Linux, macOS, Nintendo, Operating Systems, Playstation, Roku, Tizen, Twitter, WebOS, Windows, Windows Phone, Xbox').split(', ')
privacy = str('Digital Rights Management, Personal Data, Cloud Security, Corrections Facilities, Cyber Security, DRM, E-Signature, Fraud Detection, Homeland Security, Identity Management, Intrusion Detection, Law Enforcement, Network Security, Penetration Testing, Physical Security, Privacy, Security').split(', ')
services = str('Funeral Industry, English-Speaking, Spas, Plumbers, Service Industries, Staffing Firms, Translation, Career Management, Business Services, Services, Accounting, Business Development, Career Planning, Compliance, Consulting, Customer Service, Employment, Environmental Consulting, Field Support, Freelance, Intellectual Property, Innovation Management, Legal, Legal Tech, Management Consulting, Outsourcing, Professional Networking, Quality Assurance, Recruiting, Risk Management, Social Recruiting, Translation Service').split(', ')
realestate= str('Office Space, Self Storage, Brokers, Storage, Home Owners, Self Storage , Realtors, Home & Garden, Utilities, Home Automation, Architecture, Building Maintenance, Building Material, Commercial Real Estate, Construction, Coworking, Facility Management, Fast-Moving Consumer Goods, Green Building, Home and Garden, Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Janitorial Service, Landscaping, Property Development, Property Management, Real Estate, Real Estate Investment, Rental Property, Residential, Self-Storage, Smart Building, Smart Cities, Smart Home, Timeshare, Vacation Rental').split(', ')
sales = str('Advertising, Affiliate Marketing, App Discovery, App Marketing, Brand Marketing, Cause Marketing, Content Marketing, CRM, Digital Marketing, Digital Signage, Direct Marketing, Direct Sales, Email Marketing, Lead Generation, Lead Management, Local, Local Advertising, Local Business, Loyalty Programs, Marketing, Marketing Automation, Mobile Advertising, Multi-level Marketing, Outdoor Advertising, Personal Branding, Public Relations, Sales, Sales Automation, SEM, SEO, Social CRM, Social Media Advertising, Social Media Management, Social Media Marketing, Sponsorship, Video Advertising').split(', ')
science = str('Face Recognition, New Technologies, Advanced Materials, Aerospace, Artificial Intelligence, Bioinformatics, Biometrics, Biopharma, Biotechnology, Chemical, Chemical Engineering, Civil Engineering, Embedded Systems, Environmental Engineering, Human Computer Interaction, Industrial Automation, Industrial Engineering, Intelligent Systems, Laser, Life Science, Marine Technology, Mechanical Engineering, Nanotechnology, Neuroscience, Nuclear, Quantum Computing, Robotics, Semiconductor, Software Engineering, STEM Education').split(', ')
software = str('Business Productivity, 3D Technology, Android, App Discovery, Application Performance Management, Apps, Artificial Intelligence, Augmented Reality, Billing, Bitcoin, Browser Extensions, CAD, Cloud Computing, Cloud Management, CMS, Computer Vision, Consumer Applications, Consumer Software, Contact Management, CRM, Cryptocurrency, Data Center Automation, Data Integration, Data Storage, Data Visualization, Database, Developer APIs, Developer Platform, Developer Tools, Document Management, Drone Management, E-Learning, EdTech, Electronic Design Automation (EDA), Embedded Software, Embedded Systems, Enterprise Applications, Enterprise Resource Planning (ERP), Enterprise Software, Facial Recognition, File Sharing, IaaS, Image Recognition, iOS, Linux, Machine Learning, macOS, Marketing Automation, Meeting Software, Mobile Apps, Mobile Payments, MOOC, Natural Language Processing, Open Source, Operating Systems, PaaS, Predictive Analytics, Presentation Software, Presentations, Private Cloud, Productivity Tools, QR Codes, Reading Apps, Retail Technology, Robotics, SaaS, Sales Automation, Scheduling, Sex Tech, Simulation, SNS, Social CRM, Software, Software Engineering, Speech Recognition, Task Management, Text Analytics, Transaction Processing, Video Conferencing, Virtual Assistant, Virtual Currency, Virtual Desktop, Virtual Goods, Virtual Reality, Virtual World, Virtualization, Web Apps, Web Browsers, Web Development').split(', ')
sports = str('American Football, Baseball, Basketball, Boating, Cricket, Cycling, Diving, eSports, Fantasy Sports, Fitness, Golf, Hockey, Hunting, Outdoors, Racing, Recreation, Rugby, Sailing, Skiing, Soccer, Sporting Goods, Sports, Surfing, Swimming, Table Tennis, Tennis, Ultimate Frisbee, Volley Ball').split(', ')
sustainability = str('Green, Wind, Biomass Power Generation, Renewable Tech, Environmental Innovation, Renewable Energies, Clean Technology, Biofuel, Biomass Energy, Clean Energy, CleanTech, Energy Efficiency, Environmental Engineering, Green Building, Green Consumer Goods, GreenTech, Natural Resources, Organic, Pollution Control, Recycling, Renewable Energy, Solar, Sustainability, Waste Management, Water Purification, Wind Energy').split(', ')
transportation = str('Taxis, Air Transportation, Automotive, Autonomous Vehicles, Car Sharing, Courier Service, Delivery Service, Electric Vehicle, Ferry Service, Fleet Management, Food Delivery, Freight Service, Last Mile Transportation, Limousine Service, Logistics, Marine Transportation, Parking, Ports and Harbors, Procurement, Public Transportation, Railroad, Recreational Vehicles, Ride Sharing, Same Day Delivery, Shipping, Shipping Broker, Space Travel, Supply Chain Management, Taxi Service, Transportation, Warehousing, Water Transportation').split(', ')
travel = str('Adventure Travel, Amusement Park and Arcade, Business Travel, Casino, Hospitality, Hotel, Museums and Historical Sites, Parks, Resorts, Timeshare, Tour Operator, Tourism, Travel, Travel Accommodations, Travel Agency, Vacation Rental').split(', ')
video = str('Animation, Broadcasting, Film, Film Distribution, Film Production, Motion Capture, TV, TV Production, Video, Video Editing, Video on Demand, Video Streaming').split(', ')

In [8]:
import re 
data['Industry_Group'] = pd.np.where(data.market.str.contains('|'.join(admin_services), flags=re.IGNORECASE), "Administrative Services",
                               pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software", 
                               pd.np.where(data.market.str.contains('|'.join(advertising), flags=re.IGNORECASE), "Advertising",
                               pd.np.where(data.market.str.contains('|'.join(agriculture), flags=re.IGNORECASE), "Agriculture and Farming",
                               pd.np.where(data.market.str.contains('|'.join(app), flags=re.IGNORECASE), "Apps", 
                               pd.np.where(data.market.str.contains('|'.join(artificial_intelli), flags=re.IGNORECASE), "Artificial Intelligence", 
                               pd.np.where(data.market.str.contains('|'.join(biotechnology), flags=re.IGNORECASE), "Biotechnology", 
                               pd.np.where(data.market.str.contains('|'.join(clothing), flags=re.IGNORECASE), "Clothing and Apparel", 
                               pd.np.where(data.market.str.contains('|'.join(shopping), flags=re.IGNORECASE), "Commerce and Shopping", 
                               pd.np.where(data.market.str.contains('|'.join(community), flags=re.IGNORECASE), "Community and Lifestyle", 
                               pd.np.where(data.market.str.contains('|'.join(electronics), flags=re.IGNORECASE), "Consumer Electronics", 
                               pd.np.where(data.market.str.contains('|'.join(consumer_goods), flags=re.IGNORECASE), "Consumer Goods", 
                               pd.np.where(data.market.str.contains('|'.join(content), flags=re.IGNORECASE), "Content and Publishing", 
                               pd.np.where(data.market.str.contains('|'.join(data), flags=re.IGNORECASE), "Data and Analytics",
                               pd.np.where(data.market.str.contains('|'.join(design), flags=re.IGNORECASE), "Design", 
                               pd.np.where(data.market.str.contains('|'.join(education), flags=re.IGNORECASE), "Education", 
                               pd.np.where(data.market.str.contains('|'.join(energy), flags=re.IGNORECASE), "Energy", 
                               pd.np.where(data.market.str.contains('|'.join(events), flags=re.IGNORECASE), "Events", 
                               pd.np.where(data.market.str.contains('|'.join(financial), flags=re.IGNORECASE), "Financial Services",
                               pd.np.where(data.market.str.contains('|'.join(food), flags=re.IGNORECASE), "Food and Beverage", 
                               pd.np.where(data.market.str.contains('|'.join(gaming), flags=re.IGNORECASE), "Gaming", 
                               pd.np.where(data.market.str.contains('|'.join(government), flags=re.IGNORECASE), "Government and Military", 
                               pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
                               pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",
                               pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology", 
                               pd.np.where(data.market.str.contains('|'.join(internet), flags=re.IGNORECASE), "Internet Services", 
                               pd.np.where(data.market.str.contains('|'.join(invest), flags=re.IGNORECASE), "Lending and Investments", 
                               pd.np.where(data.market.str.contains('|'.join(manufacturing), flags=re.IGNORECASE), "Manufacturing",
                               pd.np.where(data.market.str.contains('|'.join(media), flags=re.IGNORECASE), "Media and Entertainment",
                               pd.np.where(data.market.str.contains('|'.join(message), flags=re.IGNORECASE), "Messaging and Telecommunication", 
                               pd.np.where(data.market.str.contains('|'.join(mobile), flags=re.IGNORECASE), "Mobile", 
                               pd.np.where(data.market.str.contains('|'.join(music), flags=re.IGNORECASE), "Music and Audio", 
                               pd.np.where(data.market.str.contains('|'.join(resource), flags=re.IGNORECASE), "Natural Resources",
                               pd.np.where(data.market.str.contains('|'.join(navigation), flags=re.IGNORECASE), "Navigation and Mapping",
                               pd.np.where(data.market.str.contains('|'.join(payment), flags=re.IGNORECASE), "Payments", 
                               pd.np.where(data.market.str.contains('|'.join(platforms), flags=re.IGNORECASE), "Platforms", 
                               pd.np.where(data.market.str.contains('|'.join(privacy), flags=re.IGNORECASE), "Privacy and Security", 
                               pd.np.where(data.market.str.contains('|'.join(services), flags=re.IGNORECASE), "Professional Services",
                               pd.np.where(data.market.str.contains('|'.join(realestate), flags=re.IGNORECASE), "Real Estate", 
                               pd.np.where(data.market.str.contains('|'.join(sales), flags=re.IGNORECASE), "Sales and Marketing", 
                               pd.np.where(data.market.str.contains('|'.join(science), flags=re.IGNORECASE), "Science and Engineering", 
                               pd.np.where(data.market.str.contains('|'.join(sports), flags=re.IGNORECASE), "Sports",
                               pd.np.where(data.market.str.contains('|'.join(sustainability), flags=re.IGNORECASE), "Sustainability", 
                               pd.np.where(data.market.str.contains('|'.join(transportation), flags=re.IGNORECASE), "Transportation", 
                               pd.np.where(data.market.str.contains('|'.join(travel), flags=re.IGNORECASE), "Travel and Tourism", 
                               pd.np.where(data.market.str.contains('|'.join(video), flags=re.IGNORECASE), "Video",
                               pd.np.where(data.market.str.contains('|'.join(other), flags=re.IGNORECASE), "Other",  "Other")))))))))))))))))))))))))))))))))))))))))))))))

/tmp/ipykernel_5678/3623873125.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  data['Industry_Group'] = pd.np.where(data.market.str.contains('|'.join(admin_services), flags=re.IGNORECASE), "Administrative Services",
/tmp/ipykernel_5678/3623873125.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software",
/tmp/ipykernel_5678/3623873125.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(software), flags=re.IGNORECASE), "Software",
/tmp/ipykernel_5678/3623873125.py:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(advertising), flags=re.IGNORECASE), "Advertising",
/tmp/ipykernel_5678/3623873125.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(agriculture), flags=re.IGNORECASE), "Agriculture and Farming",
/tmp/ipykernel_5678/3623873125.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(app), flags=re.IGNORECASE), "Apps",
/tmp/ipykernel_5678/3623873125.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(artificial_intelli), flags=re.IGNORECASE), "Artificial Intelligence",
/tmp/ipykernel_5678/3623873125.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(biotechnology), flags=re.IGNORECASE), "Biotechnology",
/tmp/ipykernel_5678/3623873125.py:9: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(clothing), flags=re.IGNORECASE), "Clothing and Apparel",
/tmp/ipykernel_5678/3623873125.py:10: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(shopping), flags=re.IGNORECASE), "Commerce and Shopping",
/tmp/ipykernel_5678/3623873125.py:11: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(community), flags=re.IGNORECASE), "Community and Lifestyle",
/tmp/ipykernel_5678/3623873125.py:12: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(electronics), flags=re.IGNORECASE), "Consumer Electronics",
/tmp/ipykernel_5678/3623873125.py:13: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(consumer_goods), flags=re.IGNORECASE), "Consumer Goods",
/tmp/ipykernel_5678/3623873125.py:14: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(content), flags=re.IGNORECASE), "Content and Publishing",
/tmp/ipykernel_5678/3623873125.py:15: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(data), flags=re.IGNORECASE), "Data and Analytics",
/tmp/ipykernel_5678/3623873125.py:16: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(design), flags=re.IGNORECASE), "Design",
/tmp/ipykernel_5678/3623873125.py:17: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(education), flags=re.IGNORECASE), "Education",
/tmp/ipykernel_5678/3623873125.py:18: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(energy), flags=re.IGNORECASE), "Energy",
/tmp/ipykernel_5678/3623873125.py:19: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(events), flags=re.IGNORECASE), "Events",
/tmp/ipykernel_5678/3623873125.py:20: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(financial), flags=re.IGNORECASE), "Financial Services",
/tmp/ipykernel_5678/3623873125.py:21: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(food), flags=re.IGNORECASE), "Food and Beverage",
/tmp/ipykernel_5678/3623873125.py:22: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(gaming), flags=re.IGNORECASE), "Gaming",
/tmp/ipykernel_5678/3623873125.py:23: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(government), flags=re.IGNORECASE), "Government and Military",
/tmp/ipykernel_5678/3623873125.py:24: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
/tmp/ipykernel_5678/3623873125.py:24: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(hardware), flags=re.IGNORECASE), "Hardware",
/tmp/ipykernel_5678/3623873125.py:25: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",
/tmp/ipykernel_5678/3623873125.py:25: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(health_care), flags=re.IGNORECASE), "Health Care",
/tmp/ipykernel_5678/3623873125.py:26: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology",
/tmp/ipykernel_5678/3623873125.py:26: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  pd.np.where(data.market.str.contains('|'.join(it), flags=re.IGNORECASE), "Information Technology",
/tmp/ipykernel_5678/3623873125.py:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(internet), flags=re.IGNORECASE), "Internet Services",
/tmp/ipykernel_5678/3623873125.py:28: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(invest), flags=re.IGNORECASE), "Lending and Investments",
/tmp/ipykernel_5678/3623873125.py:29: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(manufacturing), flags=re.IGNORECASE), "Manufacturing",
/tmp/ipykernel_5678/3623873125.py:30: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(media), flags=re.IGNORECASE), "Media and Entertainment",

/tmp/ipykernel_5678/3623873125.py:31: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(message), flags=re.IGNORECASE), "Messaging and Telecommunication",
/tmp/ipykernel_5678/3623873125.py:32: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(mobile), flags=re.IGNORECASE), "Mobile",
/tmp/ipykernel_5678/3623873125.py:33: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(music), flags=re.IGNORECASE), "Music and Audio",
/tmp/ipykernel_5678/3623873125.py:34: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(resource), flags=re.IGNORECASE), "Natural Resources",
/tmp/ipykernel_5678/3623873125.py:35: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(navigation), flags=re.IGNORECASE), "Navigation and Mapping",
/tmp/ipykernel_5678/3623873125.py:36: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(payment), flags=re.IGNORECASE), "Payments",
/tmp/ipykernel_5678/3623873125.py:37: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(platforms), flags=re.IGNORECASE), "Platforms",
/tmp/ipykernel_5678/3623873125.py:38: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(privacy), flags=re.IGNORECASE), "Privacy and Security",
/tmp/ipykernel_5678/3623873125.py:39: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(services), flags=re.IGNORECASE), "Professional Services",
/tmp/ipykernel_5678/3623873125.py:40: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(realestate), flags=re.IGNORECASE), "Real Estate",
/tmp/ipykernel_5678/3623873125.py:41: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sales), flags=re.IGNORECASE), "Sales and Marketing",
/tmp/ipykernel_5678/3623873125.py:42: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(science), flags=re.IGNORECASE), "Science and Engineering",
/tmp/ipykernel_5678/3623873125.py:43: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sports), flags=re.IGNORECASE), "Sports",
/tmp/ipykernel_5678/3623873125.py:44: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(sustainability), flags=re.IGNORECASE), "Sustainability",
/tmp/ipykernel_5678/3623873125.py:45: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(transportation), flags=re.IGNORECASE), "Transportation",
/tmp/ipykernel_5678/3623873125.py:46: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(travel), flags=re.IGNORECASE), "Travel and Tourism",
/tmp/ipykernel_5678/3623873125.py:47: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(video), flags=re.IGNORECASE), "Video",
/tmp/ipykernel_5678/3623873125.py:48: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  pd.np.where(data.market.str.contains('|'.join(other), flags=re.IGNORECASE), "Other",  "Other")))))))))))))))))))))))))))))))))))))))))))))))

In [9]:
data['Industry_Group'].nunique()

43

In [10]:
data = data[data['funding_total_usd'] != ' -   ']
data = data.reset_index(drop=True)
data = data.drop_duplicates(subset=['name', 'homepage_url', 'Industry_Group'])

In [11]:
#data[data[['name', 'homepage_url', 'Industry_Group']].duplicated()]

In [12]:
data

,name,homepage_url,category_list,market,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group
0,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,1,6/1/12,6/30/12,6/30/12,Content and Publishing
1,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,2,NaN,6/4/10,9/23/10,Gaming
2,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,Other,1,10/26/12,8/9/12,8/9/12,Content and Publishing
3,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,Other,1,4/1/11,4/1/11,4/1/11,Consumer Electronics
4,-R- Ranch and Mine,Website not Provided,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,2,1/1/14,8/17/14,9/26/14,Travel and Tourism
...,...,...,...,...,...,...,...,...,...,...,...,...
37581,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|And...,Education,320000,operating,Other,1,1/28/13,3/24/14,3/24/14,Education
37582,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1587301,operating,Other,1,NaN,4/1/12,4/1/12,Software
37583,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97398,operating,Other,5,5/13/12,11/1/11,9/10/14,Software
37584,[a]list games,http://www.alistgames.com,|Games|,Games,9300000,operating,Other,1,NaN,11/21/11,11/21/11,Gaming
37585,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45000000,operating,USA,4,1/1/99,6/1/08,4/4/13,Software

In [13]:
data.columns

Index(['name', 'homepage_url', 'category_list', 'market', 'funding_total_usd',
       'status', 'country_code', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at', 'Industry_Group'],
      dtype='object')

In [14]:
columns_to_save = ['funding_total_usd',
       'status', 'country_code', 'funding_rounds', 'founded_at',
       'first_funding_at', 'last_funding_at', 'Industry_Group']
data = data[columns_to_save]

In [15]:
data[['Industry_Group']].value_counts()

Industry_Group
Software                           7634
Biotechnology                      3453
Health Care                        2639
Internet Services                  2485
Commerce and Shopping              2093
Information Technology             1877
Mobile                             1777
Community and Lifestyle            1542
Other                              1511
Advertising                        1494
Financial Services                 1136
Media and Entertainment            1123
Gaming                             1110
Education                           861
Professional Services               779
Content and Publishing              726
Manufacturing                       569
Privacy and Security                522
Real Estate                         428
Transportation                      381
Travel and Tourism                  357
Hardware                            327
Data and Analytics                  325
Consumer Electronics                312
Clothing and Apparel                291
Sales and Marketing                 286
Sports                              237
Design                              196
Food and Beverage                   144
Energy                              143
Events                              136
Consumer Goods                      135
Administrative Services             130
Platforms                           118
Sustainability                       62
Government and Military              51
Navigation and Mapping               40
Messaging and Telecommunication      34
Science and Engineering              33
Agriculture and Farming              32
Natural Resources                    28
Apps                                 25
Artificial Intelligence               3
dtype: int64

In [16]:
data['time_between_first_last_funding'] = (pd.to_datetime(data['last_funding_at'], format='%m/%d/%y', errors="coerce") - pd.to_datetime(data['first_funding_at'], errors="coerce")).dt.days

/tmp/ipykernel_5678/1655532358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['time_between_first_last_funding'] = (pd.to_datetime(data['last_funding_at'], format='%m/%d/%y', errors="coerce") - pd.to_datetime(data['first_funding_at'], errors="coerce")).dt.days

In [17]:
data.isna().sum()

funding_total_usd                     0
status                                0
country_code                          0
funding_rounds                        0
founded_at                         7183
first_funding_at                      0
last_funding_at                       0
Industry_Group                        0
time_between_first_last_funding       2
dtype: int64

In [18]:
data['founded_at'].fillna(data['first_funding_at'], inplace=True)

/tmp/ipykernel_5678/432439885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['founded_at'].fillna(data['first_funding_at'], inplace=True)

In [19]:
data.isna().sum()

funding_total_usd                  0
status                             0
country_code                       0
funding_rounds                     0
founded_at                         0
first_funding_at                   0
last_funding_at                    0
Industry_Group                     0
time_between_first_last_funding    2
dtype: int64

In [20]:
data.dropna(subset=['time_between_first_last_funding'], inplace=True)

/tmp/ipykernel_5678/2608717703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(subset=['time_between_first_last_funding'], inplace=True)

In [21]:
#most_recent_date = pd.to_datetime(data['last_funding_at'], format='%m/%d/%y', errors="coerce").max()
#data['years_in_business'] = (pd.to_datetime(data['last_funding_at'], format='%m/%d/%y', errors="coerce") - pd.to_datetime(data['founded_at'], errors="coerce")).dt.days

In [22]:
# Convert date columns to datetime with the correct format
date_columns = ['founded_at', 'first_funding_at', 'last_funding_at']
data[date_columns] = data[date_columns].apply(pd.to_datetime, format='%m/%d/%y', errors='coerce')
# Filter out rows with NaT values (invalid dates)
data = data.dropna(subset=date_columns, how='any')
data

/tmp/ipykernel_5678/650595994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[date_columns] = data[date_columns].apply(pd.to_datetime, format='%m/%d/%y', errors='coerce')

,funding_total_usd,status,country_code,funding_rounds,founded_at,first_funding_at,last_funding_at,Industry_Group,time_between_first_last_funding
0,1750000,acquired,USA,1,2012-06-01,2012-06-30,2012-06-30,Content and Publishing,0.0
1,4000000,operating,USA,2,2010-06-04,2010-06-04,2010-09-23,Gaming,111.0
2,40000,operating,Other,1,2012-10-26,2012-08-09,2012-08-09,Content and Publishing,0.0
3,1500000,operating,Other,1,2011-04-01,2011-04-01,2011-04-01,Consumer Electronics,0.0
4,60000,operating,USA,2,2014-01-01,2014-08-17,2014-09-26,Travel and Tourism,40.0
...,...,...,...,...,...,...,...,...,...
37581,320000,operating,Other,1,2013-01-28,2014-03-24,2014-03-24,Education,0.0
37582,1587301,operating,Other,1,2012-04-01,2012-04-01,2012-04-01,Software,0.0
37583,97398,operating,Other,5,2012-05-13,2011-11-01,2014-09-10,Software,1044.0
37584,9300000,operating,Other,1,2011-11-21,2011-11-21,2011-11-21,Gaming,0.0
37585,45000000,operating,USA,4,1999-01-01,2008-06-01,2013-04-04,Software,1768.0

In [23]:
#data[['founded_at']].hist()

In [24]:
#data[data['time_between_first_last_funding'] >= 0]

In [25]:
start_date = '1990-01-01'
end_date = '2015-12-30'

# Select DataFrame rows between two dates
mask1 = (data['founded_at'] > start_date) & (data['founded_at'] <= end_date)
data = data.loc[mask1]

In [26]:
mask2 = (data['first_funding_at'] > start_date) & (data['first_funding_at'] <= end_date) & (data['last_funding_at'] > start_date) & (data['last_funding_at'] <= end_date)
data = data.loc[mask2]

In [27]:
data = data[data['first_funding_at'] <= data['last_funding_at']]

In [28]:
reference_date = pd.to_datetime(end_date)

In [29]:
data['days_in_business'] = (reference_date - data['founded_at']).dt.days

In [30]:
data = data.reset_index(drop=True)

In [31]:
data = data.drop(columns=['founded_at', 'first_funding_at', 'last_funding_at'])

In [32]:
data

,funding_total_usd,status,country_code,funding_rounds,Industry_Group,time_between_first_last_funding,days_in_business
0,1750000,acquired,USA,1,Content and Publishing,0.0,1307
1,4000000,operating,USA,2,Gaming,111.0,2035
2,40000,operating,Other,1,Content and Publishing,0.0,1160
3,1500000,operating,Other,1,Consumer Electronics,0.0,1734
4,60000,operating,USA,2,Travel and Tourism,40.0,728
...,...,...,...,...,...,...,...
36782,320000,operating,Other,1,Education,0.0,1066
36783,1587301,operating,Other,1,Software,0.0,1368
36784,97398,operating,Other,5,Software,1044.0,1326
36785,9300000,operating,Other,1,Gaming,0.0,1500
36786,45000000,operating,USA,4,Software,1768.0,6207

In [33]:
data.dtypes

funding_total_usd                   object
status                              object
country_code                        object
funding_rounds                       int64
Industry_Group                      object
time_between_first_last_funding    float64
days_in_business                     int64
dtype: object

In [34]:
#change to numeric 
data['funding_total_usd'] = pd.to_numeric(data['funding_total_usd'], errors='coerce')
# Convert 'time_between_first_last_funding' column to integer
data['time_between_first_last_funding'] = data['time_between_first_last_funding'].astype('Int64')
data['funding_rounds'] = data['funding_rounds'].astype('Int64', errors='ignore')

In [35]:
data

,funding_total_usd,status,country_code,funding_rounds,Industry_Group,time_between_first_last_funding,days_in_business
0,1750000,acquired,USA,1,Content and Publishing,0,1307
1,4000000,operating,USA,2,Gaming,111,2035
2,40000,operating,Other,1,Content and Publishing,0,1160
3,1500000,operating,Other,1,Consumer Electronics,0,1734
4,60000,operating,USA,2,Travel and Tourism,40,728
...,...,...,...,...,...,...,...
36782,320000,operating,Other,1,Education,0,1066
36783,1587301,operating,Other,1,Software,0,1368
36784,97398,operating,Other,5,Software,1044,1326
36785,9300000,operating,Other,1,Gaming,0,1500
36786,45000000,operating,USA,4,Software,1768,6207

In [36]:
data.dtypes

funding_total_usd                   int64
status                             object
country_code                       object
funding_rounds                      Int64
Industry_Group                     object
time_between_first_last_funding     Int64
days_in_business                    int64
dtype: object

In [37]:
from sklearn.preprocessing import RobustScaler

# Select numerical features for standardization
numerical_features = ["funding_total_usd", "time_between_first_last_funding", "days_in_business"]

In [38]:
data_labeled_US = data[(data['status'].isin(['acquired','closed'])) & (data['country_code'].isin(['USA']))].reset_index()
data_labeled_other = data[(data['status'].isin(['acquired','closed'])) & (data['country_code'].isin(['Other']))].reset_index()

In [39]:
data_to_label_US = data[(data['status'].isin(['operating'])) & (data['country_code'].isin(['USA']))].reset_index()
data_to_label_other = data[(data['status'].isin(['operating'])) & (data['country_code'].isin(['Other']))].reset_index()

In [40]:
data_labeled_US.drop(columns=['country_code'], inplace = True)
data_labeled_other.drop(columns=['country_code'], inplace = True)
data_to_label_US.drop(columns=['country_code'], inplace = True)
data_to_label_other.drop(columns=['country_code'], inplace = True)

In [41]:
# Initialize StandardScaler
scaler_US = RobustScaler()
scaler_other = RobustScaler()

# Standardize the selected features for US
data_labeled_US[numerical_features] = scaler_US.fit_transform(data_labeled_US[numerical_features])
data_to_label_US[numerical_features] = scaler_US.transform(data_to_label_US[numerical_features])

# Standardize the selected features for other countries
data_labeled_other[numerical_features] = scaler_other.fit_transform(data_labeled_other[numerical_features])
data_to_label_other[numerical_features] = scaler_other.transform(data_to_label_other[numerical_features])

In [42]:
data_labeled_other

,index,funding_total_usd,status,funding_rounds,Industry_Group,time_between_first_last_funding,days_in_business
0,5,0.429177,closed,1,Advertising,0.000000,0.186816
1,12,-0.160321,acquired,1,Commerce and Shopping,0.000000,-0.195356
2,88,-0.223781,closed,1,Software,0.000000,-0.403523
3,91,-0.193721,acquired,2,Software,0.234834,0.000000
4,160,1.604295,closed,3,Advertising,3.616438,0.227382
...,...,...,...,...,...,...,...
1546,36741,-0.220441,closed,1,Community and Lifestyle,0.000000,-0.749933
1547,36753,-0.225518,closed,1,Advertising,0.000000,-0.470777
1548,36764,0.286587,acquired,2,Community and Lifestyle,2.379648,0.584468
1549,36766,0.225013,acquired,4,Software,10.360078,0.584468
1550,36779,1.832983,closed,4,Biotechnology,7.326810,2.729117

In [43]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

OneHotEncoder_US = OneHotEncoder(handle_unknown='ignore', sparse=False)
OneHotEncoder_other = OneHotEncoder(handle_unknown='ignore', sparse=False)

OneHotEncoder_US.fit(data_labeled_US[['Industry_Group']]) 

OneHotEncoder_other.fit(data_labeled_other[['Industry_Group']]) 

data_labeled_US[OneHotEncoder_US.get_feature_names_out()] = OneHotEncoder_US.transform(data_labeled_US[['Industry_Group']])
data_labeled_US.drop(columns = ['Industry_Group'], inplace = True)

data_to_label_US[OneHotEncoder_US.get_feature_names_out()] = OneHotEncoder_US.transform(data_to_label_US[['Industry_Group']])
data_to_label_US.drop(columns = ['Industry_Group'], inplace = True)

data_labeled_other[OneHotEncoder_other.get_feature_names_out()] = OneHotEncoder_other.transform(data_labeled_other[['Industry_Group']])
data_labeled_other.drop(columns = ['Industry_Group'], inplace = True)

data_to_label_other[OneHotEncoder_other.get_feature_names_out()] = OneHotEncoder_other.transform(data_to_label_other[['Industry_Group']])
data_to_label_other.drop(columns = ['Industry_Group'], inplace = True)

/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [44]:
data_to_label_other

,index,funding_total_usd,status,funding_rounds,time_between_first_last_funding,days_in_business,Industry_Group_Administrative Services,Industry_Group_Advertising,Industry_Group_Biotechnology,Industry_Group_Clothing and Apparel,...,Industry_Group_Other,Industry_Group_Platforms,Industry_Group_Privacy and Security,Industry_Group_Professional Services,Industry_Group_Real Estate,Industry_Group_Sales and Marketing,Industry_Group_Software,Industry_Group_Sports,Industry_Group_Transportation,Industry_Group_Travel and Tourism
0,2,-0.221777,operating,1,0.000000,-0.939418,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,-0.026720,operating,1,0.000000,-0.633040,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.040080,operating,1,0.000000,0.194823,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,-0.221610,operating,1,0.000000,-1.266613,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8,-0.221777,operating,1,0.000000,-0.779824,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12913,36781,0.131810,operating,1,0.000000,0.194823,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12914,36782,-0.184369,operating,1,0.000000,-0.989592,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12915,36783,-0.015057,operating,1,0.000000,-0.828396,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12916,36784,-0.214108,operating,5,4.086106,-0.850814,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12917,36785,1.015364,operating,1,0.000000,-0.757940,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
data_to_label_other.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12918 entries, 0 to 12917
Data columns (total 41 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   index                                           12918 non-null  int64
 1   funding_total_usd                               12918 non-null  float64
 2   status                                          12918 non-null  object
 3   funding_rounds                                  12918 non-null  Int64
 4   time_between_first_last_funding                 12918 non-null  float64
 5   days_in_business                                12918 non-null  float64
 6   Industry_Group_Administrative Services          12918 non-null  float64
 7   Industry_Group_Advertising                      12918 non-null  float64
 8   Industry_Group_Biotechnology                    12918 non-null  float64
 9   Industry_Group_Clothing and Apparel             12918 non-null  float64
 10  Industry_Group_Commerce and Shopping            12918 non-null  float64
 11  Industry_Group_Community and Lifestyle          12918 non-null  float64
 12  Industry_Group_Consumer Electronics             12918 non-null  float64
 13  Industry_Group_Consumer Goods                   12918 non-null  float64
 14  Industry_Group_Content and Publishing           12918 non-null  float64
 15  Industry_Group_Data and Analytics               12918 non-null  float64
 16  Industry_Group_Design                           12918 non-null  float64
 17  Industry_Group_Education                        12918 non-null  float64
 18  Industry_Group_Energy                           12918 non-null  float64
 19  Industry_Group_Events                           12918 non-null  float64
 20  Industry_Group_Financial Services               12918 non-null  float64
 21  Industry_Group_Food and Beverage                12918 non-null  float64
 22  Industry_Group_Gaming                           12918 non-null  float64
 23  Industry_Group_Hardware                         12918 non-null  float64
 24  Industry_Group_Health Care                      12918 non-null  float64
 25  Industry_Group_Information Technology           12918 non-null  float64
 26  Industry_Group_Internet Services                12918 non-null  float64
 27  Industry_Group_Manufacturing                    12918 non-null  float64
 28  Industry_Group_Media and Entertainment          12918 non-null  float64
 29  Industry_Group_Messaging and Telecommunication  12918 non-null  float64
 30  Industry_Group_Mobile                           12918 non-null  float64
 31  Industry_Group_Other                            12918 non-null  float64
 32  Industry_Group_Platforms                        12918 non-null  float64
 33  Industry_Group_Privacy and Security             12918 non-null  float64
 34  Industry_Group_Professional Services            12918 non-null  float64
 35  Industry_Group_Real Estate                      12918 non-null  float64
 36  Industry_Group_Sales and Marketing              12918 non-null  float64
 37  Industry_Group_Software                         12918 non-null  float64
 38  Industry_Group_Sports                           12918 non-null  float64
 39  Industry_Group_Transportation                   12918 non-null  float64
 40  Industry_Group_Travel and Tourism               12918 non-null  float64
dtypes: Int64(1), float64(38), int64(1), object(1)
memory usage: 4.1+ MB

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder


#label_encoder_US = LabelEncoder()
#label_encoder_other = LabelEncoder()


# Separate features and labels
X_US = data_labeled_US.drop(columns=['index','status'])
y_US = data_labeled_US['status']
#y_US_le = label_encoder_US.fit_transform(y_US)

X_progress_US = data_to_label_US.drop(columns=['index','status'])

X_other = data_labeled_other.drop(columns=['index','status'])
y_other = data_labeled_other['status']
#y_other_le = label_encoder_other.fit_transform(y_other)


X_progress_other = data_to_label_other.drop(columns=['index','status'])


# Initialize KNN classifier
k = 20  # You can experiment with different k values
n = 20
knn_classifier_US = KNeighborsClassifier(n_neighbors=k)
knn_classifier_other = KNeighborsClassifier(n_neighbors=n)


# Train KNN classifier on labeled data
knn_classifier_US.fit(X_US, y_US)
knn_classifier_other.fit(X_other, y_other)

KNeighborsClassifier(n_neighbors=20)

In [47]:
from sklearn.metrics import accuracy_score

# Separate features and labels
X_US1 = data_labeled_US.drop(columns=['index','status'])
y_US1 = data_labeled_US['status']

X_other1 = data_labeled_other.drop(columns=['index','status'])
y_other1 = data_labeled_other['status']

X_train_US1, X_test_US1, y_train_US1, y_test_US1 = train_test_split(X_US1, y_US1, test_size=0.2, random_state=42)

X_train_other1, X_test_other1, y_train_other1, y_test_other1 = train_test_split(X_other1, y_other1, test_size=0.2, random_state=42)


# Initialize KNN classifier
k = 20  # You can experiment with different k values
n = 20

knn_classifier_US1 = KNeighborsClassifier(n_neighbors=k)
knn_classifier_other1 = KNeighborsClassifier(n_neighbors=n)


# Train KNN classifier on labeled data
knn_classifier_US1.fit(X_train_US1, y_train_US1)
knn_classifier_other1.fit(X_train_other1, y_train_other1)


y_test_pred_US1 = knn_classifier_US1.predict(X_test_US1.values)
y_test_pred_other1 = knn_classifier_other1.predict(X_test_other1.values)

print(classification_report(y_test_US1, y_test_pred_US1))
print(classification_report(y_test_other1, y_test_pred_other1))

print(accuracy_score(y_test_US1, y_test_pred_US1))
print(accuracy_score(y_test_other1, y_test_pred_other1))

              precision    recall  f1-score   support

    acquired       0.75      0.87      0.81       482
      closed       0.62      0.42      0.50       240

    accuracy                           0.72       722
   macro avg       0.68      0.65      0.65       722
weighted avg       0.71      0.72      0.70       722

              precision    recall  f1-score   support

    acquired       0.70      0.55      0.61       135
      closed       0.70      0.82      0.76       176

    accuracy                           0.70       311
   macro avg       0.70      0.68      0.69       311
weighted avg       0.70      0.70      0.69       311

0.7202216066481995
0.7009646302250804

/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [48]:
#import numpy as np
#np.array([X_US.iloc[0].values])

In [49]:
#knn_classifier_US.predict(np.array([X_US.iloc[0].values]))

In [50]:
# Predict labels for "In progress" instances
progress_predictions_US = knn_classifier_US.predict(X_progress_US.values)
progress_predictions_other = knn_classifier_other.predict(X_progress_other.values)


# Update "In progress" instances in the original dataframe with predicted labels
data_to_label_US['status'] = progress_predictions_US
data_to_label_other['status'] = progress_predictions_other

# Evaluate the model
#y_test_pred = knn_classifier.predict(X_test_scaled)
#print(classification_report(y_test, y_test_pred))

/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [51]:
#data_to_label_US

In [52]:
data_to_label_US['status'].value_counts()

acquired    13006
closed       5704
Name: status, dtype: int64

In [53]:
data_to_label_other['status'].value_counts()

closed      8724
acquired    4194
Name: status, dtype: int64

In [54]:
data_to_label_other[['index','status']]

       index    status
0          2    closed
1          3  acquired
2          6    closed
3          7    closed
4          8    closed
...      ...       ...
12913  36781    closed
12914  36782    closed
12915  36783    closed
12916  36784  acquired
12917  36785    closed

[12918 rows x 2 columns]

In [55]:
updated_data_status = pd.concat([data_to_label_other[['index','status']], data_to_label_US[['index','status']], data_labeled_other[['index','status']], data_labeled_US[['index','status']]])

In [56]:
updated_data_status = updated_data_status.sort_values('index').reset_index(drop=True).drop(columns=['index'])

In [57]:
data_new = data.drop(columns=['status']).join(updated_data_status)

In [58]:
data_new.loc[data_new['status'] == 'acquired', 'status'] = 1
data_new.loc[data_new['status'] == 'closed', 'status'] = 0

In [59]:
data_new[data_new['country_code']=='USA']['status'].value_counts()

1    15396
0     6922
Name: status, dtype: int64

In [60]:
data_new[data_new['country_code']=='Other']['status'].value_counts()

0    9587
1    4882
Name: status, dtype: int64

In [61]:
data_new['status'].value_counts()

1    20278
0    16509
Name: status, dtype: int64

In [73]:
data_new[(data_new['Industry_Group']=='Software') & (data_new['country_code']=='USA')]['status'].value_counts()

1    3787
0     946
Name: status, dtype: int64

In [62]:
data_new

,funding_total_usd,country_code,funding_rounds,Industry_Group,time_between_first_last_funding,days_in_business,status
0,1750000,USA,1,Content and Publishing,0,1307,1
1,4000000,USA,2,Gaming,111,2035,1
2,40000,Other,1,Content and Publishing,0,1160,0
3,1500000,Other,1,Consumer Electronics,0,1734,1
4,60000,USA,2,Travel and Tourism,40,728,0
...,...,...,...,...,...,...,...
36782,320000,Other,1,Education,0,1066,0
36783,1587301,Other,1,Software,0,1368,0
36784,97398,Other,5,Software,1044,1326,1
36785,9300000,Other,1,Gaming,0,1500,0
36786,45000000,USA,4,Software,1768,6207,1

In [63]:
from sklearn.preprocessing import RobustScaler

data_new_scaled = data_new.copy()

# Select numerical features for standardization
#"funding_rounds"
numerical_features = ["funding_total_usd", "time_between_first_last_funding", "days_in_business"]

# Initialize RobustScaler
scaler_gen = RobustScaler()

data_new_scaled[numerical_features] = scaler_gen.fit_transform(data_new_scaled[numerical_features])

ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)

ohe.fit(data_new_scaled[['Industry_Group']]) 

data_new_scaled[ohe.get_feature_names_out()] = ohe.transform(data_new_scaled[['Industry_Group']])
data_new_scaled.drop(columns = ['Industry_Group'], inplace = True)

/home/janchik/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [64]:
data_new_scaled

,funding_total_usd,country_code,funding_rounds,time_between_first_last_funding,days_in_business,status,Industry_Group_Administrative Services,Industry_Group_Advertising,Industry_Group_Agriculture and Farming,Industry_Group_Apps,...,Industry_Group_Privacy and Security,Industry_Group_Professional Services,Industry_Group_Real Estate,Industry_Group_Sales and Marketing,Industry_Group_Science and Engineering,Industry_Group_Software,Industry_Group_Sports,Industry_Group_Sustainability,Industry_Group_Transportation,Industry_Group_Travel and Tourism
0,-0.026042,USA,1,0.000000,-0.445680,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.208333,USA,2,0.193717,-0.077817,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.204167,Other,1,0.000000,-0.519960,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.052083,Other,1,0.000000,-0.229914,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.202083,USA,2,0.069808,-0.738252,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36782,-0.175000,Other,1,0.000000,-0.567458,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36783,-0.042989,Other,1,0.000000,-0.414856,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36784,-0.198188,Other,5,1.821990,-0.436079,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36785,0.760417,Other,1,0.000000,-0.348156,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36786,4.479167,USA,4,3.085515,2.030318,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [65]:
data_new_scaled = pd.get_dummies(data_new_scaled, columns=["country_code"], prefix=["country"], drop_first=True)

In [66]:
data_new_scaled

,funding_total_usd,funding_rounds,time_between_first_last_funding,days_in_business,status,Industry_Group_Administrative Services,Industry_Group_Advertising,Industry_Group_Agriculture and Farming,Industry_Group_Apps,Industry_Group_Artificial Intelligence,...,Industry_Group_Professional Services,Industry_Group_Real Estate,Industry_Group_Sales and Marketing,Industry_Group_Science and Engineering,Industry_Group_Software,Industry_Group_Sports,Industry_Group_Sustainability,Industry_Group_Transportation,Industry_Group_Travel and Tourism,country_USA
0,-0.026042,1,0.000000,-0.445680,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.208333,2,0.193717,-0.077817,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,-0.204167,1,0.000000,-0.519960,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-0.052083,1,0.000000,-0.229914,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-0.202083,2,0.069808,-0.738252,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36782,-0.175000,1,0.000000,-0.567458,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
36783,-0.042989,1,0.000000,-0.414856,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
36784,-0.198188,5,1.821990,-0.436079,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
36785,0.760417,1,0.000000,-0.348156,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
36786,4.479167,4,3.085515,2.030318,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1

In [67]:
y_new = data_new_scaled["status"].astype(int)
X_new = data_new_scaled.drop(columns=["status"])

from sklearn.model_selection import train_test_split
# Split data into training and testing sets
X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X_new, y_new, test_size=0.2, random_state=42)

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Create a Random Forest classifier as the base model
base_model = RandomForestClassifier(random_state=42)

# Train the model on the training data
base_model.fit(X_train_new, y_train_new)

RandomForestClassifier(random_state=42)

In [69]:
# Train the model on the training data
#base_model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred_new = base_model.predict(X_test_new)

# Evaluate the model
accuracy = accuracy_score(y_test_new, y_pred_new)
print("Accuracy:", accuracy)

Accuracy: 0.9209024191356346

In [70]:
import numpy as np
from sklearn.model_selection import cross_validate
from sklearn.inspection import permutation_importance
from sklearn.linear_model import LogisticRegression

model = RandomForestClassifier(random_state=42)

cv_results = cross_validate(model, X_train_new, y_train_new, cv = 5)

score = cv_results["test_score"].mean()
print(f"Before any feature permutation, the cross-validated accuracy is equal to {round(score,2)}")

## Question 1 - Permutation importance
model = RandomForestClassifier(random_state=42).fit(X_train_new,y_train_new) # Fit the model

permutation_score = permutation_importance(model, X_train_new, y_train_new, n_repeats=10) # Perform Permutation

importance_df = pd.DataFrame(np.vstack((X_train_new.columns,
                                        permutation_score.importances_mean)).T, # Unstack results
                            columns = ['feature','feature_importance']) 

print("After feature permutation, here are the decreases in terms of scores:")
importance_df = importance_df.sort_values(by="feature_importance", ascending = False) # Order by importance
importance_df

Before any feature permutation, the cross-validated accuracy is equal to 0.92
After feature permutation, here are the decreases in terms of scores:

                                           feature feature_importance
0                                funding_total_usd           0.212518
3                                 days_in_business           0.169381
47                                     country_USA           0.139053
2                  time_between_first_last_funding            0.09808
1                                   funding_rounds           0.093846
42                         Industry_Group_Software            0.04534
9                     Industry_Group_Biotechnology           0.043094
26                      Industry_Group_Health Care           0.024024
35                            Industry_Group_Other           0.017992
28                Industry_Group_Internet Services           0.014703
12          Industry_Group_Community and Lifestyle           0.013901
11            Industry_Group_Commerce and Shopping           0.012396
27           Industry_Group_Information Technology           0.011482
23                           Industry_Group_Gaming           0.006708
38            Industry_Group_Professional Services            0.00665
21               Industry_Group_Financial Services           0.006473
5                       Industry_Group_Advertising           0.006307
32                           Industry_Group_Mobile           0.005984
30          Industry_Group_Media and Entertainment           0.004968
37             Industry_Group_Privacy and Security           0.003041
15           Industry_Group_Content and Publishing           0.002345
18                        Industry_Group_Education           0.002294
40              Industry_Group_Sales and Marketing           0.001923
29                    Industry_Group_Manufacturing           0.001478
13             Industry_Group_Consumer Electronics           0.001033
16               Industry_Group_Data and Analytics           0.000985
45                   Industry_Group_Transportation            0.00088
25                         Industry_Group_Hardware           0.000826
10             Industry_Group_Clothing and Apparel            0.00072
39                      Industry_Group_Real Estate             0.0007
17                           Industry_Group_Design           0.000673
22                Industry_Group_Food and Beverage           0.000598
46               Industry_Group_Travel and Tourism           0.000571
36                        Industry_Group_Platforms           0.000411
14                   Industry_Group_Consumer Goods           0.000353
43                           Industry_Group_Sports            0.00035
20                           Industry_Group_Events            0.00035
4           Industry_Group_Administrative Services           0.000289
19                           Industry_Group_Energy           0.000194
31  Industry_Group_Messaging and Telecommunication           0.000139
44                   Industry_Group_Sustainability           0.000136
34           Industry_Group_Navigation and Mapping           0.000102
6           Industry_Group_Agriculture and Farming           0.000102
33                Industry_Group_Natural Resources           0.000071
24          Industry_Group_Government and Military           0.000071
7                              Industry_Group_Apps           0.000034
8           Industry_Group_Artificial Intelligence                0.0
41          Industry_Group_Science and Engineering                0.0

In [80]:
# I want to get rid of features which caused less than this  in terms of performance
threshold = 0.09

# Decompose this one-liner piece of code step by step if you don't understand it at first sight!
weak_features = importance_df[importance_df.feature_importance <= threshold]["feature"].values
weak_features

array(['Industry_Group_Software', 'Industry_Group_Biotechnology',
       'Industry_Group_Health Care', 'Industry_Group_Other',
       'Industry_Group_Internet Services',
       'Industry_Group_Community and Lifestyle',
       'Industry_Group_Commerce and Shopping',
       'Industry_Group_Information Technology', 'Industry_Group_Gaming',
       'Industry_Group_Professional Services',
       'Industry_Group_Financial Services', 'Industry_Group_Advertising',
       'Industry_Group_Mobile', 'Industry_Group_Media and Entertainment',
       'Industry_Group_Privacy and Security',
       'Industry_Group_Content and Publishing',
       'Industry_Group_Education', 'Industry_Group_Sales and Marketing',
       'Industry_Group_Manufacturing',
       'Industry_Group_Consumer Electronics',
       'Industry_Group_Data and Analytics',
       'Industry_Group_Transportation', 'Industry_Group_Hardware',
       'Industry_Group_Clothing and Apparel',
       'Industry_Group_Real Estate', 'Industry_Group_Design',
       'Industry_Group_Food and Beverage',
       'Industry_Group_Travel and Tourism', 'Industry_Group_Platforms',
       'Industry_Group_Consumer Goods', 'Industry_Group_Sports',
       'Industry_Group_Events', 'Industry_Group_Administrative Services',
       'Industry_Group_Energy',
       'Industry_Group_Messaging and Telecommunication',
       'Industry_Group_Sustainability',
       'Industry_Group_Navigation and Mapping',
       'Industry_Group_Agriculture and Farming',
       'Industry_Group_Natural Resources',
       'Industry_Group_Government and Military', 'Industry_Group_Apps',
       'Industry_Group_Artificial Intelligence',
       'Industry_Group_Science and Engineering'], dtype=object)

In [81]:
from sklearn.model_selection import cross_val_score

## Question 3 - Cross validating the model with strong features only
X_strong_features = X_train_new.drop(columns=list(weak_features))

print(f"Our strong features are {list(X_strong_features.columns)}")

model = RandomForestClassifier(random_state=42)

scores = cross_val_score(model, X_strong_features, y_train_new, cv = 5)
strong_model_score = scores.mean()

print(f"Before removing weak features, the cross-validated accuracy was equal to {round(score,2)}")

print(f"The RandomForestClassifier fitted with the strong features only has a score of {round(strong_model_score,2)}")

Our strong features are ['funding_total_usd', 'funding_rounds', 'time_between_first_last_funding', 'days_in_business', 'country_USA']
Before removing weak features, the cross-validated accuracy was equal to 0.92
The RandomForestClassifier fitted with the strong features only has a score of 0.8

In [82]:
X_strong_features_test = X_test_new.drop(columns=list(weak_features))

model.fit(X_strong_features, y_train_new)

# Make predictions on the testing data
y_pred = model.predict(X_strong_features_test)

# Evaluate the model
accuracy = accuracy_score(y_test_new, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.809594998640935